# Project Shark Attacks

In [12]:
import pandas as pd
import numpy as np
import re

In [13]:
!pwd

/Users/aldreybaldovi/Desktop/ironhack/labs/module_1/week_8/project_shark_attacks

In [15]:
df = pd.read_csv('attacks.csv', encoding='latin1')
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [17]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [30]:
df_bkp = df.copy()

- Analisar a quantidade de vazios nas colunas de interesse ('Year', 'Sex', 'Country', 'Fatal (Y/N)')

In [32]:
df_bkp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

# HYPOTHESIS: 
- There is more death cases with **man than woman** (SEX AND FATAL (Y/N) COLUMNS)
- Surf is the activity which causes more accident **in the last years** (YEAR AND ACTIVITY COLUMNS)
- Most of the cases were **unprovoked** (TYPE COLUMN)
- **Young people** is more likely to die by shark attacks (AGE COLUMN)
- The **location** with greater number of cases has no legislation or safety measures (COUNTRY AND AREA)
- Season with more cases is summer (DATE COLUMN AND **NEW COLUMN SEASON**)
- The most dangerous species of shark (SPECIES COLUMN)

# STEPS

- Use columns: 

`['Date', 'Year', 'Type', 'Country', 'Area', 'Name', 'Sex ', 'Age','Species ','Activity','Fatal (Y/N)']`


- Drop columns: 

`['Case Number', 'Location', 'Injury', 'Time','Investigator or Source', 'pdf', 'href formula', 'href', 'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22', 'Unnamed: 23']`


- Rename columns (df = df.rename(columns = {'Date' : 'date'}) OR df.rename({'Date' : 'date'}, axis =1, inplace = True):
    - lower case
    - no spaces


- Rename similar words in lines:
    - **m:** male, M 
    - **f:** female, F 
    - **y:** Yes, Y, y 
    - **n:** No, no, N


- Analise columns with NAN:
    - Substitute NAN to 0 (`df.fillna(0)`) when necessary

In [68]:
df['Injury'].head(30)

0     No injury to occupant, outrigger canoe and pad...
1                            Minor injury to left thigh
2          Injury to left lower leg from surfboard skeg
3                             Minor injury to lower leg
4     Lacerations to leg & hand shark PROVOKED INCIDENT
5                               No injury, board bitten
6                                                 FATAL
7               Minor injury to foot. PROVOKED INCIDENT
8                                 Lower left leg bitten
9                                  Minor injury to foot
10    Minor bite to hand by captive shark. PROVOKED ...
11                 Injuries to lower right leg and foot
12                         Severe bite to right forearm
13    Injured by teeth of a dead porbeagle shark he ...
14      Shallow lacerations to finger PROVOKED INCIDENT
15                         Minor injury, marks on board
16                         No injury, surfboard damaged
17                                Minor injury to ankle
18                      No injury, shark bit scuba gear
19                No injury, knocked off board by shark
20                                            No injury
21                No injury, knocked off board by shark
22                      No injury, shark struck his leg
23                                   5-inch cut to hand
24                     No injury, shark bit hole in ski
25                       Lacerations to right lower leg
26                        Lacerations to foot and ankle
27    Multiple severe injuries to arms and leg, leg ...
28                            Laceration to right thigh
29                                  Lacerations to legs
Name: Injury, dtype: object

In [65]:
df['Year'].value_counts()

2015.0    143
2017.0    136
2016.0    130
2011.0    128
2014.0    127
         ...
1753.0      1
77.0        1
1785.0      1
1580.0      1
1543.0      1
Name: Year, Length: 249, dtype: int64

In [67]:
df['Date'].isnull().value_counts()

True     19421
False     6302
Name: Date, dtype: int64

In [46]:
df.groupby('Sex ').count()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Age,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
Sex,,,,,,,,,,,,,,,,,,,,,
.,1,1,1,1,1,1,1,1,0,0,...,1,1,1,1,1,1,1,1,0,0
F,637,637,637,637,634,616,608,584,631,463,...,370,634,637,637,637,637,637,637,0,0
M,5093,5094,5092,5090,5052,4723,4651,4754,5036,2968,...,2770,5082,5094,5093,5094,5094,5094,5094,1,2
M,2,2,2,2,2,2,2,2,2,1,...,1,2,2,2,2,2,2,2,0,0
N,2,2,2,2,1,1,1,2,2,0,...,2,2,2,2,2,2,2,2,0,0
lli,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,0,0