# Project Shark Attacks

link:

In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
!pwd

/Users/aldreybaldovi/Desktop/ironhack/labs/module_1/week_8/project_shark_attacks

In [3]:
df = pd.read_excel('GSAF5.xls', encoding='latin1')
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2020.09.20,20-Sep-2020,2020.0,Unprovoked,USA,Florida,"Sombero Key Light, Monroe County",Snorkeling,Andrew Charles Eddy,M,...,Bull shark,"Click Orlando, 9/20/2020",2020.09.20-Eddy.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2020.09.20,2020.09.20,6576.0,NaN,NaN
1,2020.09.17,17-Sep-2020,2020.0,Provoked,AUSTRALIA,Queensland,Fraser Island,Fishing,male,M,...,"""whitetip shark""","K. McMurray, Tracking Sharks.com and B. Myatt,...",2020.09.17-FraserIsland.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2020.09.17,2020.09.17,6575.0,NaN,NaN
2,2020.09.16.b,16-Sep-2020,2020.0,Unprovoked,AUSTRALIA,New South Wales,Cabarita Beach,Foil-boarding,Christian Bungate,M,...,White shark,"B. Myatt, GSAF",2020.09.16.b-Bungate.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2020.09.16.b,2020.09.16.b,6574.0,NaN,NaN
3,2020.09.16,16-Sep-2020,2020.0,NaN,USA,Florida,"Daytona Beach Shores, Volusia County",Swimming,Eric Bowman,M,...,Shark involvement not confirmed,"K. McMurray, TrackingSharks.com",2020.09.16-Bowman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2020.09.16,2020.09.16,6573.0,NaN,NaN
4,2020.09.15.b,15-Sep-2020,2020.0,Unprovoked,USA,Florida,"Ponce Inlet, Volusia County",Surfing,Cole Smyth,M,...,NaN,"K. McMurray, TrackingSharks.com",2020.09.15.b-Smyth.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2020.09.15.b,2020.09.15.b,6572.0,NaN,NaN

In [4]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [5]:
len(df)

25796

In [6]:
df_bkp = df.copy()

- Analisar a quantidade de vazios nas colunas de interesse ('Year', 'Sex', 'Country', 'Fatal (Y/N)')

In [7]:
df_bkp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25796 entries, 0 to 25795
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8775 non-null   object
 1   Date                    6575 non-null   object
 2   Year                    6573 non-null   float64
 3   Type                    6566 non-null   object
 4   Country                 6525 non-null   object
 5   Area                    6108 non-null   object
 6   Location                6025 non-null   object
 7   Activity                6018 non-null   object
 8   Name                    6360 non-null   object
 9   Sex                     6003 non-null   object
 10  Age                     3672 non-null   object
 11  Injury                  6545 non-null   object
 12  Fatal (Y/N)             6023 non-null   object
 13  Time                    3154 non-null   object
 14  Species                 3622 non-null   object
 15  Investigator or Source  6558 non-null   object
 16  pdf                     6574 non-null   object
 17  href formula            6571 non-null   object
 18  href                    6573 non-null   object
 19  Case Number.1           6574 non-null   object
 20  Case Number.2           6574 non-null   object
 21  original order          6575 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

# HYPOTHESIS: 
- There is more death cases with **man than woman** (SEX AND FATAL (Y/N) COLUMNS)
- Surf is the activity which causes more accident **in the last years** (YEAR AND ACTIVITY COLUMNS)
- Most of the cases were **unprovoked** (TYPE COLUMN)
- **Young people** is more likely to die by shark attacks (AGE COLUMN)
- The **location** with greater number of cases has no legislation or safety measures (COUNTRY AND AREA)
- Season with more cases is summer (DATE COLUMN AND **NEW COLUMN SEASON**)
- The most dangerous species of shark (SPECIES COLUMN)

# STEPS

- Use columns: 

`['Date', 'Year', 'Type', 'Country', 'Area', 'Sex ', 'Age','Species ','Activity','Fatal (Y/N)']`


- Drop columns: 

`['Case Number', 'Name', 'Location', 'Injury', 'Time','Investigator or Source', 'pdf', 'href formula', 'href', 'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22', 'Unnamed: 23']`


- Rename columns (df = df.rename(columns = {'Date' : 'date'}) OR df.rename({'Date' : 'date'}, axis =1, inplace = True):
    - lower case
    - no spaces


- Rename similar words in lines:
    - **m:** male, M 
    - **f:** female, F 
    - **y:** Yes, Y, y 
    - **n:** No, no, N


- Analise columns with NAN:
    - Substitute NAN to 0 (`df.fillna(0)`) when necessary

In [8]:
df = df.loc[:,['Date', 'Year', 'Type', 'Country', 'Area', 'Sex ', 'Age','Species ','Activity','Fatal (Y/N)']]
df.head()

,Date,Year,Type,Country,Area,Sex,Age,Species,Activity,Fatal (Y/N)
0,20-Sep-2020,2020.0,Unprovoked,USA,Florida,M,30,Bull shark,Snorkeling,N
1,17-Sep-2020,2020.0,Provoked,AUSTRALIA,Queensland,M,50s,"""whitetip shark""",Fishing,N
2,16-Sep-2020,2020.0,Unprovoked,AUSTRALIA,New South Wales,M,NaN,White shark,Foil-boarding,N
3,16-Sep-2020,2020.0,NaN,USA,Florida,M,48,Shark involvement not confirmed,Swimming,N
4,15-Sep-2020,2020.0,Unprovoked,USA,Florida,M,15,NaN,Surfing,N

In [9]:
df.rename({'Date':'date', 'Year':'year', 'Type':'type', 'Country':'country', 'Area':'area', 
                 'Sex ':'sex', 'Age':'age','Species ':'species','Activity':'activity',
                 'Fatal (Y/N)':'fatal'}, axis =1, inplace = True)
df.head()

,date,year,type,country,area,sex,age,species,activity,fatal
0,20-Sep-2020,2020.0,Unprovoked,USA,Florida,M,30,Bull shark,Snorkeling,N
1,17-Sep-2020,2020.0,Provoked,AUSTRALIA,Queensland,M,50s,"""whitetip shark""",Fishing,N
2,16-Sep-2020,2020.0,Unprovoked,AUSTRALIA,New South Wales,M,NaN,White shark,Foil-boarding,N
3,16-Sep-2020,2020.0,NaN,USA,Florida,M,48,Shark involvement not confirmed,Swimming,N
4,15-Sep-2020,2020.0,Unprovoked,USA,Florida,M,15,NaN,Surfing,N

- Working with `date` and `year`:

    - Delete null values
    
    - regex to use only the year
    
        `pattern = '\d\d\d\d'`
        
        `print(re.findall(pattern, text))`
        
    - group the number of fatal cases of the same year
    
        `fatal_cases_year = df.groupby('date', as_index = False)`

In [10]:
df['date'].value_counts()

1957                    9
1942                    8
1958                    7
1956                    6
No date                 6
                       ..
Reported 08-Feb-1887    1
Reported 15-Apr-1869    1
04-Jul-2002             1
19-Dec-2007             1
Reported 11-Oct-1904    1
Name: date, Length: 5685, dtype: int64

In [11]:
df['year'].value_counts()

2015.0    143
2017.0    139
2016.0    131
2011.0    128
2014.0    127
         ...
1753.0      1
77.0        1
1785.0      1
1800.0      1
1543.0      1
Name: year, Length: 251, dtype: int64

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25796 entries, 0 to 25795
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      6575 non-null   object
 1   year      6573 non-null   float64
 2   type      6566 non-null   object
 3   country   6525 non-null   object
 4   area      6108 non-null   object
 5   sex       6003 non-null   object
 6   age       3672 non-null   object
 7   species   3622 non-null   object
 8   activity  6018 non-null   object
 9   fatal     6023 non-null   object
dtypes: float64(1), object(9)
memory usage: 2.0+ MB

In [13]:
null_lines = df['year'].isnull()
df[null_lines]

,date,year,type,country,area,sex,age,species,activity,fatal
444,Reported 08-Jan-2017,NaN,Invalid,AUSTRALIA,Queensland,M,35,Bull shark,Spearfishing,NaN
6351,Reported 19-Aug-1836,NaN,Unprovoked,ENGLAND,Cumberland,M,NaN,NaN,Swimming,Y
6575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6576,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6577,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
25791,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25792,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25793,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25794,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25795,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
len(df[null_lines])

19223

In [15]:
drop_lines = list(df[null_lines].index)
df = df.drop(drop_lines, axis = 0)
len(df)

6573

In [16]:
zero = df.loc[(df['year'] == 0)]
zero

,date,year,type,country,area,sex,age,species,activity,fatal
6449,Ca. 214 B.C.,0.0,Unprovoked,NaN,Ionian Sea,M,NaN,NaN,Ascending from a dive,Y
6450,Ca. 336.B.C..,0.0,Unprovoked,GREECE,Piraeus,M,NaN,NaN,Washing his pig in preparation for a religious...,Y
6451,493 B.C.,0.0,Sea Disaster,GREECE,Off Thessaly,M,NaN,NaN,Shipwrecked Persian Fleet,Y
6452,Ca. 725 B.C.,0.0,Sea Disaster,ITALY,Tyrrhenian Sea,M,NaN,NaN,Shipwreck,Y
6453,After 2013,0.0,Unprovoked,AUSTRALIA,Queensland,M,NaN,Hammerhead shark,Spearfishing,N
...,...,...,...,...,...,...,...,...,...,...
6570,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,M,NaN,NaN,Diving,Y
6571,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,M,NaN,NaN,Pearl diving,Y
6572,1900-1905,0.0,Unprovoked,USA,North Carolina,M,NaN,NaN,Swimming,Y
6573,1883-1889,0.0,Unprovoked,PANAMA,NaN,M,NaN,NaN,NaN,Y
6574,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,M,15,NaN,Swimming,Y

- **When year is equal 0, it is related to data from around 1900**

    - Century XIX: 1801 to 1900
    - Century XX: 1901 to 2000
    - Century XXI: 2001 to 2100

In [17]:
df['year'] = df['year'].astype('int')

In [18]:
df

,date,year,type,country,area,sex,age,species,activity,fatal
0,20-Sep-2020,2020,Unprovoked,USA,Florida,M,30,Bull shark,Snorkeling,N
1,17-Sep-2020,2020,Provoked,AUSTRALIA,Queensland,M,50s,"""whitetip shark""",Fishing,N
2,16-Sep-2020,2020,Unprovoked,AUSTRALIA,New South Wales,M,NaN,White shark,Foil-boarding,N
3,16-Sep-2020,2020,NaN,USA,Florida,M,48,Shark involvement not confirmed,Swimming,N
4,15-Sep-2020,2020,Unprovoked,USA,Florida,M,15,NaN,Surfing,N
...,...,...,...,...,...,...,...,...,...,...
6570,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,M,NaN,NaN,Diving,Y
6571,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,M,NaN,NaN,Pearl diving,Y
6572,1900-1905,0,Unprovoked,USA,North Carolina,M,NaN,NaN,Swimming,Y
6573,1883-1889,0,Unprovoked,PANAMA,NaN,M,NaN,NaN,NaN,Y
6574,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,M,15,NaN,Swimming,Y

In [19]:
#Test if the column has null value

df['year'].isnull().value_counts()

False    6573
Name: year, dtype: int64

In [20]:
#to update zero values to 1900 in column `year`
df['year'].loc[(df['year'] == 0)] = 1900

/Users/aldreybaldovi/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [21]:
df['year'].value_counts()

2015    143
2017    139
1900    139
2016    131
2011    128
       ...
1822      1
1834      1
1859      1
77        1
500       1
Name: year, Length: 250, dtype: int64

**Try to find the 4 last numbers in date and replace it after:**

In [22]:
'''df['date'] = df['date'].astype('str')'''

"df['date'] = df['date'].astype('str')"

In [23]:
'''text = [i for i in df['date']]
pattern = '\d\d\d\d$'
df['date_2'] = [re.findall(pattern, text)]
df.head()'''

"text = [i for i in df['date']]\npattern = '\\d\\d\\d\\d$'\ndf['date_2'] = [re.findall(pattern, text)]\ndf.head()"

- Fatality cases per year according to sex:

In [24]:
def fill(x):
        
    pattern_F = '.*[fF].*'
    pattern_M = '.*[mM].*'
    
    if x != x:
        return 'NaN'
    
    if len(re.findall(pattern_F, x)) == 0 and len(re.findall(pattern_M, x)) == 0:
        return 'NaN'

    
    text = re.sub(pattern_F, 'F', x)
    
    text = re.sub(pattern_M, 'M', text)
    
    
    
    return text

In [25]:
#test

print(fill(' M'))
print(fill('M '))
print(fill(' F'))
print(fill('F '))
print(fill('lli'))
print(fill('M x 2'))
print(fill(np.nan))

M
M
F
F
NaN
M
NaN

In [26]:
df['sex'].value_counts()

M        5299
F         695
M           2
N           2
M x 2       1
.           1
lli         1
Name: sex, dtype: int64

In [45]:
df['sex'].apply(fill)

In [46]:
df['sex'].value_counts()

M      5302
F       695
NaN     576
Name: sex, dtype: int64

In [64]:
#Correcting data from df['fatal']

df['fatal'].fillna(0)
df['fatal'].loc[(df['fatal'] == ' Y')] = 'Y'
df['fatal'].loc[(df['fatal'] == 'Y ')] = 'Y'
df['fatal'].loc[(df['fatal'] == 'y')] = 'Y'
df['fatal'].loc[(df['fatal'] == 'y ')] = 'Y'
df['fatal'].loc[(df['fatal'] == ' y')] = 'Y'
df['fatal'].loc[(df['fatal'] == 'Y x 2')] = 'Y'
df['fatal'].loc[(df['fatal'] == 'F')] = 'Y'
df['fatal'].loc[(df['fatal'] == ' N')] = 'N'
df['fatal'].loc[(df['fatal'] == 'N ')] = 'N'
df['fatal'].loc[(df['fatal'] == '2017')] = 'NaN'
df['fatal'].loc[(df['fatal'] == 'M')] = 'NaN'
df['fatal'].loc[(df['fatal'] == 'nan')] = 'NaN'
df['fatal'].loc[(df['fatal'] == 'UNKNOWN')] = 'NaN'


'''df_fatal_year['fatal'].rename({' Y':'Y', 'Y ':'Y', 'y':'Y', 'y ':'Y', ' y':'Y', 'Y x 2':'Y', 'F':'Y',
                               ' N':'N', 'N ':'N', '2017':'UNKNOWN', 'M':'UNKNOWN', 'nan':'UNKNOWN'},
                               axis = 0, inplace = True)
df_fatal_year['fatal'].value_counts()
'''

/Users/aldreybaldovi/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

"df_fatal_year['fatal'].rename({' Y':'Y', 'Y ':'Y', 'y':'Y', 'y ':'Y', ' y':'Y', 'Y x 2':'Y', 'F':'Y',\n                               ' N':'N', 'N ':'N', '2017':'UNKNOWN', 'M':'UNKNOWN', 'nan':'UNKNOWN'},\n                               axis = 0, inplace = True)\ndf_fatal_year['fatal'].value_counts()\n"

In [65]:
df_fatal_year = df.loc[:,['year', 'fatal', 'sex']]
df_fatal_year

      year fatal sex
0     2020     N   M
1     2020     N   M
2     2020     N   M
3     2020     N   M
4     2020     N   M
...    ...   ...  ..
6570  1900     Y   M
6571  1900     Y   M
6572  1900     Y   M
6573  1900     Y   M
6574  1900     Y   M

[6573 rows x 3 columns]

In [66]:
df['fatal'] = df['fatal'].astype('str')

In [67]:
'''text = [i for i in df['fatal']]

pattern = '*yY?'

re.sub(pattern, 'Y', text)'''

"text = [i for i in df['fatal']]\n\npattern = '*yY?'\n\nre.sub(pattern, 'Y', text)"

In [68]:
df_fatal_year.groupby('year', as_index = False).count()

     year  fatal  sex
0       5      1    1
1      77      1    1
2     500      1    1
3    1543      1    1
4    1554      1    1
..    ...    ...  ...
245  2016    131  131
246  2017    139  139
247  2018    121  121
248  2019    111  111
249  2020     75   75

[250 rows x 3 columns]

In [104]:
#separating intervals between centuries

#Before century XIX
start_date_BXIX = 0
end_date_BXIX = 1800

#Century XIX
start_date_XIX = 1801
end_date_XIX = 1900

#Century XX
start_date_XX = 1901
end_date_XX = 2000

#Century XXI
start_date_XXI = 2001
end_date_XXI = 2020

#masks:
mask_BXIX = (df_fatal_year['year'] > start_date_BXIX) & (df_fatal_year['year'] <= end_date_BXIX)

mask_XIX = (df_fatal_year['year'] > start_date_XIX) & (df_fatal_year['year'] <= end_date_XIX)

mask_XX = (df_fatal_year['year'] > start_date_XX) & (df_fatal_year['year'] <= end_date_XX)

mask_XXI = (df_fatal_year['year'] > start_date_XXI) & (df_fatal_year['year'] <= end_date_XXI)

In [115]:
bxix = df_fatal_year.loc[mask_BXIX].groupby('fatal', as_index = False).count()
bxix.loc[:,['fatal', 'year']]

  fatal  year
0     N     7
1   NaN    11
2     Y    27

In [116]:
'''bxix_sex = df_fatal_year.loc[mask_BXIX].groupby('sex', as_index = False).count()
bxix_sex.loc[:,['sex', 'fatal']]'''

"bxix_sex = df_fatal_year.loc[mask_BXIX].groupby('sex', as_index = False).count()\nbxix_sex.loc[:,['sex', 'fatal']]"

In [117]:
xix = df_fatal_year.loc[mask_XIX].groupby('fatal', as_index = False).count()
xix.loc[:,['fatal', 'year']]

  fatal  year
0     N   288
1   NaN    84
2     Y   336

In [118]:
'''xix_sex = df_fatal_year.loc[mask_XIX].groupby('sex', as_index = False).count()
xix_sex.loc[:,['sex', 'fatal']]'''

"xix_sex = df_fatal_year.loc[mask_XIX].groupby('sex', as_index = False).count()\nxix_sex.loc[:,['sex', 'fatal']]"

In [119]:
xx = df_fatal_year.loc[mask_XX].groupby('fatal', as_index = False).count()
xx.loc[:,['fatal', 'year']]

  fatal  year
0     N  2348
1   NaN   358
2     Y   864

In [129]:
'''
xx_y = xx['sex'][xx['fatal']=='Y']
xx_y

xx_sex = xx_y.groupby('sex', as_index = False).count()
xx_sex.loc[:,['sex', 'fatal']]
'''

TypeError: as_index=False only valid with DataFrame

In [121]:
xxi = df_fatal_year.loc[mask_XXI].groupby('fatal', as_index = False).count()
xxi.loc[:,['fatal', 'year']]

  fatal  year
0     N  1809
1   NaN   164
2     Y   175

In [124]:
xxi_sex = df_fatal_year.loc[mask_XXI].groupby('sex', as_index = False).count()
xxi_sex.loc[:,['sex', 'fatal']]

   sex  fatal
0    F    372
1    M   1683
2  NaN     93

In [74]:
bxix_y = bxix['year'][bxix['fatal']=='Y']
xix_y = xix['year'][xix['fatal']=='Y']
xx_y = xx['year'][xx['fatal']=='Y']
xxi_y = xxi['sex'][xxi['fatal']=='Y']

century = [bxix_y, xix_y, xx_y, xxi_y]
print(century)

[2    27
Name: year, dtype: int64, 2    336
Name: year, dtype: int64, 2    864
Name: year, dtype: int64, 2    175
Name: year, dtype: int64]

- Grouping the activities which shows the greatest number of fatalities

In [42]:
df_fatal_act = df.loc[:,['activity', 'fatal']]
df_fatal_act

           activity fatal
0        Snorkeling     N
1           Fishing     N
2     Foil-boarding     N
3          Swimming     N
4           Surfing     N
...             ...   ...
6570         Diving     Y
6571   Pearl diving     Y
6572       Swimming     Y
6573            NaN     Y
6574       Swimming     Y

[6573 rows x 2 columns]

In [43]:
df_fatal_act.groupby('activity', as_index = False).count()

                                               activity  fatal
0                                                            1
1                                                            1
2                           Diving for abalone (Hookah)      1
3      a canoe was pursuing a schooner that had forc...      1
4                                       "Boat accident"      1
...                                                 ...    ...
1547  ship torpedoed 400 miles off the African coas....      1
1548                                         small boat      1
1549        wreck of the State Oil Company ship Permina      1
1550                                  yachting accident      1
1551                              yachtsman in a zodiac      1

[1552 rows x 2 columns]

In [44]:
df.groupby('country', as_index = False).count()

,country,date,year,type,area,sex,age,species,activity,fatal
0,PHILIPPINES,1,1,1,1,1,0,0,1,1
1,TONGA,3,3,3,3,3,1,3,3,3
2,ADMIRALTY ISLANDS,1,1,1,1,1,1,0,0,1
3,AFRICA,1,1,1,0,1,0,0,1,1
4,ALGERIA,1,1,1,0,1,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...
209,VIETNAM,15,15,14,10,15,6,4,12,15
210,WEST INDIES,2,2,2,0,2,0,0,2,2
211,WESTERN SAMOA,1,1,1,1,1,1,1,1,1
212,YEMEN,2,2,2,2,1,0,1,2,2
213,YEMEN,7,7,7,7,6,2,1,7,7