# Project Shark Attacks

link: http://www.sharkattackfile.net/incidentlog.htm

In [304]:
import pandas as pd
import numpy as np
import re

In [305]:
!pwd

/Users/aldreybaldovi/Desktop/ironhack/labs/module_1/week_8/project_shark_attacks

In [306]:
df = pd.read_excel('GSAF5.xls', encoding='latin1')
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2020.09.20,20-Sep-2020,2020.0,Unprovoked,USA,Florida,"Sombero Key Light, Monroe County",Snorkeling,Andrew Charles Eddy,M,...,Bull shark,"Click Orlando, 9/20/2020",2020.09.20-Eddy.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2020.09.20,2020.09.20,6576.0,NaN,NaN
1,2020.09.17,17-Sep-2020,2020.0,Provoked,AUSTRALIA,Queensland,Fraser Island,Fishing,male,M,...,"""whitetip shark""","K. McMurray, Tracking Sharks.com and B. Myatt,...",2020.09.17-FraserIsland.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2020.09.17,2020.09.17,6575.0,NaN,NaN
2,2020.09.16.b,16-Sep-2020,2020.0,Unprovoked,AUSTRALIA,New South Wales,Cabarita Beach,Foil-boarding,Christian Bungate,M,...,White shark,"B. Myatt, GSAF",2020.09.16.b-Bungate.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2020.09.16.b,2020.09.16.b,6574.0,NaN,NaN
3,2020.09.16,16-Sep-2020,2020.0,NaN,USA,Florida,"Daytona Beach Shores, Volusia County",Swimming,Eric Bowman,M,...,Shark involvement not confirmed,"K. McMurray, TrackingSharks.com",2020.09.16-Bowman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2020.09.16,2020.09.16,6573.0,NaN,NaN
4,2020.09.15.b,15-Sep-2020,2020.0,Unprovoked,USA,Florida,"Ponce Inlet, Volusia County",Surfing,Cole Smyth,M,...,NaN,"K. McMurray, TrackingSharks.com",2020.09.15.b-Smyth.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2020.09.15.b,2020.09.15.b,6572.0,NaN,NaN

In [307]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [308]:
len(df)

25796

In [309]:
df_bkp = df.copy()

- Analisar a quantidade de vazios nas colunas de interesse ('Year', 'Sex', 'Country', 'Fatal (Y/N)')

In [310]:
df_bkp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25796 entries, 0 to 25795
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8775 non-null   object
 1   Date                    6575 non-null   object
 2   Year                    6573 non-null   float64
 3   Type                    6566 non-null   object
 4   Country                 6525 non-null   object
 5   Area                    6108 non-null   object
 6   Location                6025 non-null   object
 7   Activity                6018 non-null   object
 8   Name                    6360 non-null   object
 9   Sex                     6003 non-null   object
 10  Age                     3672 non-null   object
 11  Injury                  6545 non-null   object
 12  Fatal (Y/N)             6023 non-null   object
 13  Time                    3154 non-null   object
 14  Species                 3622 non-null   object
 15  Investigator or Source  6558 non-null   object
 16  pdf                     6574 non-null   object
 17  href formula            6571 non-null   object
 18  href                    6573 non-null   object
 19  Case Number.1           6574 non-null   object
 20  Case Number.2           6574 non-null   object
 21  original order          6575 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

# HYPOTHESIS: 
- There is more death cases with **man than woman** (SEX AND FATAL (Y/N) COLUMNS) **OK**
- There is more death cases with **man than woman** in all centuries **OK**
- Surf is the activity which causes more accident **in the last years** (YEAR AND ACTIVITY COLUMNS)
- Most of the cases were **unprovoked** (TYPE COLUMN)
- **Young people** is more likely to die by shark attacks (AGE COLUMN)
- The **location** with greater number of cases has no legislation or safety measures (COUNTRY AND AREA)
- Season with more cases is summer (DATE COLUMN AND **NEW COLUMN SEASON**)

STEPS

- Use columns: 

`['Date', 'Year', 'Type', 'Country', 'Area', 'Sex ', 'Age','Species ','Activity','Fatal (Y/N)']`


- Drop columns: 

`['Case Number', 'Name', 'Location', 'Injury', 'Time','Investigator or Source', 'pdf', 'href formula', 'href', 'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22', 'Unnamed: 23']`


- Rename columns (df = df.rename(columns = {'Date' : 'date'}) OR df.rename({'Date' : 'date'}, axis =1, inplace = True):
    - lower case
    - no spaces


- Rename similar words in lines:
    - **m:** male, M 
    - **f:** female, F 
    - **y:** Yes, Y, y 
    - **n:** No, no, N


- Analise columns with NAN:
    - Replacing NAN to 0 (`df.fillna(0)`) when necessary

# RESULTS

- Filtering Data Frame and renaming columns

In [311]:
# Filtering data frame with useful columns

df = df.loc[:,['Date', 'Year', 'Type', 'Country', 'Area', 'Sex ', 'Age','Species ','Activity','Fatal (Y/N)']]
df.head()

,Date,Year,Type,Country,Area,Sex,Age,Species,Activity,Fatal (Y/N)
0,20-Sep-2020,2020.0,Unprovoked,USA,Florida,M,30,Bull shark,Snorkeling,N
1,17-Sep-2020,2020.0,Provoked,AUSTRALIA,Queensland,M,50s,"""whitetip shark""",Fishing,N
2,16-Sep-2020,2020.0,Unprovoked,AUSTRALIA,New South Wales,M,NaN,White shark,Foil-boarding,N
3,16-Sep-2020,2020.0,NaN,USA,Florida,M,48,Shark involvement not confirmed,Swimming,N
4,15-Sep-2020,2020.0,Unprovoked,USA,Florida,M,15,NaN,Surfing,N

In [312]:
# Renaming columns

df.rename({'Date':'date', 'Year':'year', 'Type':'type', 'Country':'country', 'Area':'area', 
                 'Sex ':'sex', 'Age':'age','Species ':'species','Activity':'activity',
                 'Fatal (Y/N)':'fatal'}, axis =1, inplace = True)
df.head()

,date,year,type,country,area,sex,age,species,activity,fatal
0,20-Sep-2020,2020.0,Unprovoked,USA,Florida,M,30,Bull shark,Snorkeling,N
1,17-Sep-2020,2020.0,Provoked,AUSTRALIA,Queensland,M,50s,"""whitetip shark""",Fishing,N
2,16-Sep-2020,2020.0,Unprovoked,AUSTRALIA,New South Wales,M,NaN,White shark,Foil-boarding,N
3,16-Sep-2020,2020.0,NaN,USA,Florida,M,48,Shark involvement not confirmed,Swimming,N
4,15-Sep-2020,2020.0,Unprovoked,USA,Florida,M,15,NaN,Surfing,N

## There is more death cases with **man than woman** (DATE, YEAR, SEX AND FATAL (Y/N) COLUMNS)

### **Working with `date` and `year`:**

 - Delete null values
    
    - regex to use only the year
    
        `pattern = '\d\d\d\d'`
        
        `print(re.findall(pattern, text))`
        
    - group the number of fatal cases of the same year
    
        `fatal_cases_year = df.groupby('date', as_index = False)`

In [313]:
df['date'].value_counts()

1957                      9
1942                      8
1958                      7
1941                      6
No date                   6
                         ..
24-Jan-1931               1
Reported 02-April 1906    1
Sep-1921                  1
09-Jun-1993               1
17-Jan-2015               1
Name: date, Length: 5685, dtype: int64

In [314]:
df['year'].value_counts()

2015.0    143
2017.0    139
2016.0    131
2011.0    128
2014.0    127
0.0       126
2008.0    122
2013.0    122
2018.0    121
2009.0    120
2012.0    117
2007.0    113
2019.0    111
2005.0    103
2006.0    103
2010.0    101
2000.0     97
1959.0     93
1960.0     93
2001.0     92
2003.0     92
2004.0     92
2002.0     88
1962.0     86
1961.0     78
1995.0     76
2020.0     75
1964.0     66
1999.0     66
1998.0     65
1963.0     61
1996.0     61
1966.0     58
1997.0     57
1992.0     56
1993.0     56
1994.0     56
1988.0     55
1958.0     54
1989.0     53
1956.0     51
1965.0     51
1983.0     50
1975.0     49
1981.0     49
1967.0     48
1968.0     47
1954.0     45
1955.0     43
1950.0     43
1970.0     42
1982.0     42
1957.0     41
1942.0     41
1984.0     41
1991.0     39
1976.0     39
1986.0     39
1990.0     39
1974.0     38
1929.0     38
1985.0     37
1972.0     36
1953.0     36
1980.0     36
1987.0     35
1936.0     32
1935.0     32
1951.0     32
1944.0     31
1949.0     31
1971.0     30
1969.0     30
1937.0     30
1947.0     30
1952.0     29
1948.0     29
1931.0     29
1943.0     28
1934.0     27
1941.0     27
1973.0     27
1932.0     27
1946.0     26
1928.0     26
1977.0     26
1930.0     26
1939.0     25
1979.0     25
1978.0     25
1916.0     25
1938.0     24
1940.0     24
1907.0     23
1933.0     22
1898.0     22
1922.0     22
1926.0     21
1923.0     21
1906.0     21
1899.0     20
1895.0     20
1924.0     19
1927.0     19
1913.0     18
1905.0     18
1914.0     18
1909.0     18
1890.0     17
1886.0     16
1911.0     16
1945.0     16
1880.0     15
1894.0     15
1920.0     15
1902.0     15
1888.0     15
1904.0     14
1925.0     14
1877.0     14
1864.0     14
1919.0     14
1910.0     14
1912.0     14
1900.0     13
1878.0     13
1908.0     13
1883.0     13
1893.0     13
1887.0     13
1874.0     12
1882.0     12
1896.0     12
1862.0     12
1915.0     12
1921.0     12
1892.0     11
1897.0     11
1917.0     11
1863.0     11
1852.0     10
1903.0     10
1871.0      9
1885.0      9
1891.0      9
1847.0      9
1889.0      9
1881.0      9
1901.0      9
1876.0      9
1879.0      8
1872.0      8
1870.0      8
1853.0      8
1860.0      7
1884.0      7
1849.0      7
1855.0      7
1858.0      6
1868.0      6
1845.0      6
1826.0      5
1867.0      5
1861.0      5
1875.0      5
1840.0      5
1918.0      5
1830.0      4
1856.0      4
1848.0      4
1842.0      4
1837.0      4
1865.0      4
1844.0      4
1839.0      4
1873.0      4
1817.0      4
1808.0      3
1827.0      3
1851.0      3
1829.0      3
1846.0      3
1700.0      3
1836.0      2
1832.0      2
1850.0      2
1825.0      2
1642.0      2
1866.0      2
1869.0      2
1776.0      2
1831.0      2
1803.0      2
1828.0      2
1835.0      2
1749.0      1
1733.0      1
1637.0      1
1786.0      1
1859.0      1
1810.0      1
1742.0      1
1779.0      1
1751.0      1
1823.0      1
1787.0      1
1816.0      1
1802.0      1
1788.0      1
5.0         1
1758.0      1
1811.0      1
500.0       1
1857.0      1
1703.0      1
1791.0      1
1554.0      1
1638.0      1
1819.0      1
1812.0      1
1805.0      1
1784.0      1
1617.0      1
1764.0      1
1792.0      1
1721.0      1
1834.0      1
1841.0      1
1595.0      1
1755.0      1
1738.0      1
1807.0      1
1723.0      1
1804.0      1
1780.0      1
1801.0      1
1767.0      1
1815.0      1
1822.0      1
1818.0      1
1783.0      1
1797.0      1
1580.0      1
1771.0      1
1748.0      1
1555.0      1
1753.0      1
77.0        1
1785.0      1
1800.0      1
1543.0      1
Name: year, dtype: int64

In [315]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25796 entries, 0 to 25795
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      6575 non-null   object
 1   year      6573 non-null   float64
 2   type      6566 non-null   object
 3   country   6525 non-null   object
 4   area      6108 non-null   object
 5   sex       6003 non-null   object
 6   age       3672 non-null   object
 7   species   3622 non-null   object
 8   activity  6018 non-null   object
 9   fatal     6023 non-null   object
dtypes: float64(1), object(9)
memory usage: 2.0+ MB

In [316]:
null_lines = df['year'].isnull()
df[null_lines]

,date,year,type,country,area,sex,age,species,activity,fatal
444,Reported 08-Jan-2017,NaN,Invalid,AUSTRALIA,Queensland,M,35,Bull shark,Spearfishing,NaN
6351,Reported 19-Aug-1836,NaN,Unprovoked,ENGLAND,Cumberland,M,NaN,NaN,Swimming,Y
6575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6576,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6577,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
25791,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25792,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25793,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25794,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25795,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [317]:
len(df[null_lines])

19223

In [318]:
drop_lines = list(df[null_lines].index)
df = df.drop(drop_lines, axis = 0)
len(df)

6573

In [319]:
zero = df.loc[(df['year'] == 0)]
zero

,date,year,type,country,area,sex,age,species,activity,fatal
6449,Ca. 214 B.C.,0.0,Unprovoked,NaN,Ionian Sea,M,NaN,NaN,Ascending from a dive,Y
6450,Ca. 336.B.C..,0.0,Unprovoked,GREECE,Piraeus,M,NaN,NaN,Washing his pig in preparation for a religious...,Y
6451,493 B.C.,0.0,Sea Disaster,GREECE,Off Thessaly,M,NaN,NaN,Shipwrecked Persian Fleet,Y
6452,Ca. 725 B.C.,0.0,Sea Disaster,ITALY,Tyrrhenian Sea,M,NaN,NaN,Shipwreck,Y
6453,After 2013,0.0,Unprovoked,AUSTRALIA,Queensland,M,NaN,Hammerhead shark,Spearfishing,N
6454,Before 1824,0.0,Unprovoked,AUSTRALIA,Queensland,F,NaN,NaN,Swimming,NaN
6455,Before 1939,0.0,Unprovoked,CANADA,NaN,M,NaN,NaN,Fishing,N
6456,1990 or 1991,0.0,Unprovoked,KENYA,Mombasa,M,NaN,NaN,Diving,N
6457,Before 2016,0.0,Unprovoked,KENYA,Mombasa,M,NaN,NaN,Diving,Y
6458,Before Oct-2009,0.0,Unprovoked,PANAMA,Bocas del Toro Province,M,20,NaN,Swimming/,Y
6459,Before 1934,0.0,Unprovoked,URUGUAY,Rocha,NaN,NaN,NaN,Swimming,N
6460,Before 1934,0.0,Unprovoked,URUGUAY,Rocha,M,NaN,NaN,Swimming,Y
6461,2009?,0.0,Unprovoked,USA,South Carolina,M,NaN,NaN,Swimming,N
6462,Before 1930,0.0,Unprovoked,PAPUA NEW GUINEA,Morobe Province,M,NaN,NaN,Swimming to canoe,Y
6463,1880-1899,0.0,Unprovoked,AUSTRALIA,Queensland,F,15,NaN,NaN,N
6464,Before 1909,0.0,Unprovoked,AUSTRALIA,Queensland,M,NaN,NaN,Fell into the water,Y
6465,Before 2012,0.0,Unprovoked,USA,Hawaii,M,NaN,"Galapagos shark, 6'",Diving,N
6466,Before 1916,0.0,Unprovoked,BERMUDA,NaN,M,NaN,NaN,NaN,Y
6467,Before 1908,0.0,Unprovoked,USA,California,M,NaN,Basking shark,Fishing for basking sharks,Y
6468,Before 1900,0.0,Provoked,INDIA,NaN,M,NaN,NaN,NaN,N
6469,Before 1876,0.0,Unprovoked,LEBANON,NaN,M,NaN,NaN,Collecting fish,N
6470,Before 2012,0.0,Unprovoked,SPAIN,Canary Islands,NaN,NaN,NaN,Skin diving,N
6471,Before 2011,0.0,Unprovoked,SUDAN,Red Sea State,F,NaN,NaN,Snorkeling,N
6472,Before 2011,0.0,Provoked,NaN,NaN,M,NaN,NaN,NaN,N
6473,Before 2009,0.0,Unprovoked,USA,Florida,F,21,"Blacktip shark, 5'",Shark tagging,N
6474,Beforer 1994,0.0,Unprovoked,USA,Florida,M,NaN,NaN,Surfing,N
6475,Before 1963,0.0,Unprovoked,DJIBOUTI,Gulf of Tadjoura,NaN,NaN,NaN,A dhow capsized,Y
6476,1896-1913,0.0,Unprovoked,LIBYA,Cyrenaica,M,NaN,NaN,Sponge diving,Y
6477,Before 1936,0.0,Unprovoked,AUSTRALIA,NaN,M,NaN,NaN,Net-fishing,N
6478,Before 08-Jun-1912,0.0,Unprovoked,NEW ZEALAND,North Island,M,NaN,NaN,NaN,Y
6479,Before 2012,0.0,Unprovoked,NaN,NaN,F,NaN,NaN,Netting shrimp,N
6480,Before 1911,0.0,Unprovoked,VIETNAM,NaN,M,NaN,NaN,Bathing,N
6481,Before 1901,0.0,Unprovoked,SRI LANKA,Northern Province,M,NaN,NaN,Fishing?,N
6482,"No date, late 1960s",0.0,Unprovoked,VENEZUELA,Los Roques Islands,M,NaN,said to involve 2.5 m hammerhead sharks,Spearfishing,Y
6483,Before 2006,0.0,Unprovoked,USA,Florida,M,NaN,NaN,Wade-fishing,N
6484,Before 2003,0.0,Unprovoked,GREECE,Dodecanese Islands,M,NaN,NaN,Free diving for sponges,Y
6485,Before 2004,0.0,Watercraft,MOZAMBIQUE,Inhambane Province,NaN,NaN,Whale shark,Fishing,N
6486,Before 1962,0.0,Unprovoked,SOUTH AFRICA,Western Cape Province,M,NaN,NaN,Swimming,Y
6487,1950s,0.0,Unprovoked,AUSTRALIA,Torres Strait,M,NaN,Tiger shark,Helmet diving,N
6488,"No date, Before 1963",0.0,Unprovoked,BAHREIN,NaN,M,NaN,Tiger shark,Pearl diving,Y
6489,2003?,0.0,Unprovoked,BAHAMAS,Andros Islands,M,NaN,1.8 m [6'] shark,Spearfishing,N
6490,No date,0.0,Unprovoked,USA,Florida,M,NaN,NaN,Kitesurfing,N
6491,No date,0.0,Unprovoked,REUNION,Grand'Anse,M,NaN,NaN,yachtsman in a zodiac,N
6492,Before Feb-1998,0.0,Unprovoked,SOLOMON ISLANDS,Malaita Province,M,NaN,NaN,Diving,N
6493,"No date, Before May-1996",0.0,Unprovoked,KOREA,South Korea,F,NaN,NaN,Diving,Y
6494,"No date, Before Mar-1995",0.0,Unprovoked,FRENCH POLYNESIA,Tuamotus,M,NaN,NaN,Fishing,N
6495,Before 1996,0.0,Unprovoked,SUDAN,Red Sea State,M,NaN,Silvertip shark,Diving,N
6496,"No date, Before Aug-1989",0.0,Unprovoked,VANUATU,Malampa Province,F,NaN,NaN,NaN,Y
6497,"No date, Before Aug-1987",0.0,Provoked,VANUATU,Malampa Province,M,NaN,A large hammerhead shark,Attempting to drive shark from area,N
6498,"No date, Before 1987",0.0,Unprovoked,IRAN,Khuzestan Province,M,NaN,Bull shark,NaN,N
6499,"No date, Before 1975",0.0,Provoked,USA,Florida,M,19,"Nurse shark, 2.1 m [7']",Skin diving. Grabbed shark's tail; shark turne...,N
6500,"No date, Before 1975",0.0,Invalid,PAPUA NEW GUINEA,Milne Bay Province,M,NaN,Questionable,Scuba diving,Y
6501,"No date, Before 1969",0.0,Unprovoked,RED SEA?,NaN,F,NaN,NaN,Free diving,N
6502,"No date, Before 3-Jan-1967",0.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,M,NaN,NaN,Crossing river on a raft,Y
6503,"No date, Before 1963",0.0,Unprovoked,USA,California,M,NaN,"Shovelnose guitarfish, adult male","Free diving, collecting sand dollars",N
6504,"No date, Before 8-May-1965",0.0,Unprovoked,GREECE,Island of Volos,F,NaN,NaN,Swimming,Y
6505,"No date, Before 1963",0.0,Invalid,USA,Hawaii,M,NaN,Invalid,Diving,NaN
6506,"No date, Before 1902",0.0,Unprovoked,USA,Florida,M,NaN,NaN,Canoeing,Y
6507,"No date, Before 1902",0.0,Unprovoked,MEDITERRANEAN SEA,NaN,M,NaN,NaN,NaN,Y
6508,"No date, Before 1963",0.0,Unprovoked,AUSTRALIA,Torres Strait,M,NaN,0.9 m [3'] shark,Diving for trochus,N
6509,"No date, After August 1926 and before 1936",0.0,Unprovoked,AUSTRALIA,Western Australia,M,NaN,NaN,Pearl diving,N
6510,"No date, Before 1963",0.0,Unprovoked,SINGAPORE,NaN,NaN,NaN,NaN,Swimming,N
6511,Before 1962,0.0,Unprovoked,FIJI,NaN,M,27,1.8 m [6'] shark,Spearfishing,N
6512,Before 1962,0.0,Unprovoked,MOZAMBIQUE,Maputo Province,M,36,"""A pack of sharks""",Skindiving,N
6513,Before 1961,0.0,Unprovoked,SEYCHELLES,Amirante Islands,M,NaN,Tiger shark,Swimming from capsized pirogue,Y
6514,1960s,0.0,Unprovoked,IRAQ,Basrah,M,25,NaN,Fishing from a small boat & put his hand in th...,N
6515,1960s,0.0,Unprovoked,IRAQ,Basrah,M,6,Bull shark,Swimming naked near a date palm where many dat...,N
6516,1960s,0.0,Unprovoked,IRAQ,Basrah,M,16,Bull shark,Swimming in section of river used for washing ...,N
6517,Before 1960,0.0,Unprovoked,BAHAMAS,Andros Islands,M,NaN,"White shark, 7' to 8'",NaN,N
6518,Before 19-Jun-1959,0.0,Unprovoked,USA,California,F,NaN,"White shark, 1,900-lb",NaN,N
6519,Before 24 Apr-1959,0.0,Unprovoked,BERMUDA,Paget,M,NaN,NaN,Spearfishing,N
6520,Before 1958,0.0,Unprovoked,FIJI,Kadavu Island Group,F,NaN,NaN,Swimming with fish attached to belt,N
6521,Before 1958,0.0,Unprovoked,MADAGASCAR,Toamasina Province,M,NaN,NaN,Bathing,Y
6522,Before 1958,0.0,Unprovoked,USA,Florida,M,NaN,NaN,Standing,N
6523,Before 1958,0.0,Provoked,BAHAMAS,Andros Islands,M,NaN,"Nurse shark, 2.1 m [7']",Testing movie camera in full diving dress,N
6524,Before 1958,0.0,Unprovoked,INDONESIA,Riau Province,M,NaN,NaN,Swimming near anchored ship,Y
6525,Before 1958,0.0,Unprovoked,INDIA,Maharashtra,M,NaN,NaN,NaN,Y
6526,Before 1957,0.0,Unprovoked,NICARAGUA,Lake Nicaragua (fresh water),M,NaN,"Bull shark caught, leg recovered & buried besi...",Lashing logs together when he fell into the water,Y
6527,Before 1957,0.0,Provoked,CUBA,Havana Province,M,50,NaN,"Shark fishing, knocked overboard",Y
6528,Before 1956,0.0,Unprovoked,MARSHALL ISLANDS,Bikini Atoll,M,NaN,NaN,Swimming,N
6529,Before 1956,0.0,Unprovoked,KIRIBATI,Phoenix Islands,M,NaN,NaN,Diving,N
6530,Before Mar-1956,0.0,Unprovoked,NORTH PACIFIC OCEAN,NaN,M,NaN,NaN,"Fishing, wading with string of fish",N
6531,Before 1952,0.0,Unprovoked,KIRIBATI,Gilbert Islands,M,NaN,NaN,NaN,Y
6532,1941-1945,0.0,Sea Disaster,NaN,NaN,NaN,NaN,1.2 m [4'] shark,A group of survivors on a raft for 17-days,Y
6533,"""During the war"" 1943-1945",0.0,Unprovoked,SOLOMON ISLANDS,New Georgia,M,NaN,NaN,Floating on his back,N
6534,"""Before the war""",0.0,Unprovoked,AUSTRALIA,Torres Strait,M,NaN,NaN,Free diving,N
6535,"Said to be 1941-1945, more likely 1945",0.0,Unprovoked,IRAN,Khuzestan Province,M,NaN,NaN,Fishing in ankle-deep water,Y
6536,1941-1945,0.0,Unprovoked,IRAN,Khuzestan Province,M,NaN,NaN,NaN,Y
6537,1941-1945,0.0,Unprovoked,IRAN,Khuzestan Province,M,NaN,NaN,"Standing, washing rear wheels of his ambulance...",Y
6538,1941-1942,0.0,Unprovoked,IRAQ,Basrah,M,13 or 14,Bull shark,Swimming,Y
6539,1940 - 1950,0.0,Unprovoked,SAUDI ARABIA,Eastern Province,M,NaN,"""a black-tipped shark""",Diving,Y
6540,1940 - 1950,0.0,Unprovoked,SAUDI ARABIA,Eastern Province,M,NaN,6' shark,Diving,N
6541,1940 - 1950,0.0,Unprovoked,SAUDI ARABIA,Eastern Province,M,NaN,NaN,Diving,N
6542,1940-1946,0.0,Sea Disaster,PACIFIC OCEAN,NaN,M,NaN,NaN,NaN,Y
6543,Before 1905,0.0,Provoked,BURMA,NaN,M,NaN,NaN,Carrying a supposedly dead shark by its mouth,N
6544,World War II,0.0,Sea Disaster,PAPUA NEW GUINEA,Between New Ireland & New Britain,M,NaN,NaN,Spent 8 days in dinghy,N
6545,World War II,0.0,Sea Disaster,PAPUA NEW GUINEA,Madang Province,M,NaN,NaN,"Aircraft ditched in the sea, swimming ashore",N
6546,Before 1905,0.0,Unprovoked,BURMA,NaN,M,NaN,NaN,Bathing,Y
6547,A few years before 1938,0.0,Watercraft,ITALY,Adriatic Sea,M,NaN,White shark,Wooden fishing boat,N
6548,No date,0.0,Unprovoked,GREECE,Dodecanese Islands,M,NaN,NaN,Sponge diving,N
6549,Early 1930s,0.0,Unprovoked,BELIZE,NaN,M,16,12' tiger shark,Standing,Y
6550,Before 1927,0.0,Unprovoked,AUSTRALIA,New South Wales,M,NaN,NaN,NaN,UNKNOWN
6551,Between 1918 & 1939,0.0,Unprovoked,REUNION,Saint-Denis,NaN,NaN,NaN,Swimming,Y
6552,No date,0.0,Unprovoked,SOUTH AFRICA,Western Cape Province,F,NaN,NaN,Wading,N
6553,No date,0.0,Unprovoked,AUSTRALIA,NaN,M,NaN,NaN,Pearl diving,N
6554,No date,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,M,NaN,NaN,Swimming in pool formed by construction of a w...,Y
6555,1920 -1923,0.0,Unprovoked,AUSTRALIA,Queensland,M,NaN,NaN,NaN,Y
6556,Before 1921,0.0,Unprovoked,USA,Florida,M,NaN,NaN,Fishing,N
6557,Before 1911,0.0,Unprovoked,VIETNAM,Ba Ria-Vung Tau Province,M,NaN,NaN,Swimming around anchored ship,N
6558,Before 1921,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,M,NaN,NaN,Crew swimming alongside their anchored ship,Y
6559,Before 1921,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,M,NaN,NaN,4 men were bathing,Y
6560,Before 1917,0.0,Unprovoked,FIJI,Moala Island,NaN,NaN,NaN,Wreck of large double sailing canoe,Y
6561,Before 17-Jul-1916,0.0,Unprovoked,USA,North Carolina,M,NaN,NaN,Swimming,N
6562,No date (3 days after preceding incident) & pr...,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,M,NaN,NaN,Fishing,Y
6563,Before 19-Jul-1913,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,M,NaN,NaN,Wading,Y
6564,Before 1911,0.0,Unprovoked,ASIA?,NaN,M,NaN,NaN,Swimming,N
6565,Circa 1862,0.0,Unprovoked,USA,Hawaii,F,NaN,NaN,NaN,N
6566,Before 1906,0.0,Unprovoked,AUSTRALIA,NaN,M,NaN,Blue pointer,Fishing,Y
6567,Before 1906,0.0,Unprovoked,AUSTRALIA,NaN,M,NaN,Blue pointer,Fishing,Y
6568,Before 1906,0.0,Unprovoked,AUSTRALIA,NaN,M,NaN,Blue pointers,Fishing,Y
6569,Before 1906,0.0,Unprovoked,AUSTRALIA,New South Wales,M,NaN,Said to involve a grey nurse shark that leapt ...,Swimming,Y
6570,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,M,NaN,NaN,Diving,Y
6571,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,M,NaN,NaN,Pearl diving,Y
6572,1900-1905,0.0,Unprovoked,USA,North Carolina,M,NaN,NaN,Swimming,Y
6573,1883-1889,0.0,Unprovoked,PANAMA,NaN,M,NaN,NaN,NaN,Y
6574,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,M,15,NaN,Swimming,Y

- **When year is equal 0, it is related to data from around 1900**
    - Before Century XIX: <= 1800
    - Century XIX: 1801 to 1900
    - Century XX: 1901 to 2000
    - Century XXI: 2001 to 2100

In [320]:
df['year'] = df['year'].astype('int')

In [321]:
df

,date,year,type,country,area,sex,age,species,activity,fatal
0,20-Sep-2020,2020,Unprovoked,USA,Florida,M,30,Bull shark,Snorkeling,N
1,17-Sep-2020,2020,Provoked,AUSTRALIA,Queensland,M,50s,"""whitetip shark""",Fishing,N
2,16-Sep-2020,2020,Unprovoked,AUSTRALIA,New South Wales,M,NaN,White shark,Foil-boarding,N
3,16-Sep-2020,2020,NaN,USA,Florida,M,48,Shark involvement not confirmed,Swimming,N
4,15-Sep-2020,2020,Unprovoked,USA,Florida,M,15,NaN,Surfing,N
...,...,...,...,...,...,...,...,...,...,...
6570,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,M,NaN,NaN,Diving,Y
6571,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,M,NaN,NaN,Pearl diving,Y
6572,1900-1905,0,Unprovoked,USA,North Carolina,M,NaN,NaN,Swimming,Y
6573,1883-1889,0,Unprovoked,PANAMA,NaN,M,NaN,NaN,NaN,Y
6574,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,M,15,NaN,Swimming,Y

In [322]:
#Test if the column has null value

df['year'].isnull().value_counts()

False    6573
Name: year, dtype: int64

In [323]:
#to update zero values to 1900 in column `year`
df['year'].loc[(df['year'] == 0)] = 1800

/Users/aldreybaldovi/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [324]:
df['year'].value_counts()

2015    143
2017    139
2016    131
2011    128
1800    127
2014    127
2008    122
2013    122
2018    121
2009    120
2012    117
2007    113
2019    111
2005    103
2006    103
2010    101
2000     97
1959     93
1960     93
2004     92
2003     92
2001     92
2002     88
1962     86
1961     78
1995     76
2020     75
1964     66
1999     66
1998     65
1996     61
1963     61
1966     58
1997     57
1994     56
1993     56
1992     56
1988     55
1958     54
1989     53
1956     51
1965     51
1983     50
1981     49
1975     49
1967     48
1968     47
1954     45
1950     43
1955     43
1970     42
1982     42
1942     41
1984     41
1957     41
1990     39
1986     39
1976     39
1991     39
1974     38
1929     38
1985     37
1972     36
1980     36
1953     36
1987     35
1951     32
1936     32
1935     32
1944     31
1949     31
1969     30
1971     30
1937     30
1947     30
1948     29
1952     29
1931     29
1943     28
1941     27
1934     27
1973     27
1932     27
1977     26
1946     26
1928     26
1930     26
1979     25
1916     25
1978     25
1939     25
1938     24
1940     24
1907     23
1922     22
1898     22
1933     22
1923     21
1906     21
1926     21
1899     20
1895     20
1927     19
1924     19
1905     18
1909     18
1913     18
1914     18
1890     17
1945     16
1911     16
1886     16
1880     15
1920     15
1888     15
1902     15
1894     15
1904     14
1919     14
1864     14
1877     14
1910     14
1925     14
1912     14
1878     13
1908     13
1883     13
1887     13
1893     13
1900     13
1921     12
1915     12
1882     12
1896     12
1862     12
1874     12
1863     11
1917     11
1892     11
1897     11
1903     10
1852     10
1891      9
1881      9
1885      9
1889      9
1901      9
1871      9
1876      9
1847      9
1879      8
1872      8
1853      8
1870      8
1860      7
1884      7
1849      7
1855      7
1845      6
1858      6
1868      6
1840      5
1826      5
1875      5
1867      5
1861      5
1918      5
1856      4
1839      4
1873      4
1848      4
1817      4
1844      4
1837      4
1830      4
1842      4
1865      4
1829      3
1827      3
1846      3
1808      3
1700      3
1851      3
1836      2
1832      2
1828      2
1776      2
1831      2
1835      2
1869      2
1803      2
1866      2
1850      2
1825      2
1642      2
1783      1
1791      1
1787      1
1771      1
1779      1
1767      1
1755      1
1751      1
1723      1
1807      1
1812      1
1816      1
1595      1
1811      1
1804      1
1815      1
1792      1
1788      1
1784      1
1780      1
1819      1
1764      1
1748      1
1823      1
1580      1
1703      1
5         1
1555      1
1543      1
1617      1
1637      1
1721      1
1733      1
1749      1
1753      1
1785      1
1797      1
1801      1
1805      1
1841      1
1857      1
1554      1
1638      1
1738      1
1742      1
1758      1
1786      1
1802      1
1810      1
1818      1
1822      1
1834      1
1859      1
77        1
500       1
Name: year, dtype: int64

**Try to find the 4 last numbers in date and replace it after:**

In [325]:
'''df['date'] = df['date'].astype('str')'''

"df['date'] = df['date'].astype('str')"

In [326]:
'''text = [i for i in df['date']]
pattern = '\d\d\d\d$'
df['date_2'] = [re.findall(pattern, text)]
df.head()'''

"text = [i for i in df['date']]\npattern = '\\d\\d\\d\\d$'\ndf['date_2'] = [re.findall(pattern, text)]\ndf.head()"

### **Working with `sex`:**

- Fatality cases per year according to sex:

In [327]:
def fix_sex(x):
    '''
    Function to correct data from df['sex']
    '''
    
    pattern_F = '.*[fF].*'
    pattern_M = '.*[mM].*'
    
    if x != x:
        return 'NaN'
    
    if len(re.findall(pattern_F, x)) == 0 and len(re.findall(pattern_M, x)) == 0:
        return 'NaN'

    
    text = re.sub(pattern_F, 'F', x)
    
    text = re.sub(pattern_M, 'M', text)
    
    
    
    return text

In [328]:
#test

print(fix_sex(' M'))
print(fix_sex('M '))
print(fix_sex(' F'))
print(fix_sex('F '))
print(fix_sex('lli'))
print(fix_sex('M x 2'))
print(fix_sex(np.nan))

M
M
F
F
NaN
M
NaN

In [329]:
df['sex'].value_counts()

M        5299
F         695
M           2
N           2
.           1
lli         1
M x 2       1
Name: sex, dtype: int64

In [330]:
df['sex'] = df['sex'].apply(fix_sex)

In [331]:
df['sex'].value_counts()

M      5302
F       695
NaN     576
Name: sex, dtype: int64

### **Working with `fatal`:**

In [332]:
#Correcting data from df['fatal']

df['fatal'].fillna(0)
df['fatal'].loc[(df['fatal'] == ' Y')] = 'Y'
df['fatal'].loc[(df['fatal'] == 'Y ')] = 'Y'
df['fatal'].loc[(df['fatal'] == 'y')] = 'Y'
df['fatal'].loc[(df['fatal'] == 'y ')] = 'Y'
df['fatal'].loc[(df['fatal'] == ' y')] = 'Y'
df['fatal'].loc[(df['fatal'] == 'Y x 2')] = 'Y'
df['fatal'].loc[(df['fatal'] == 'F')] = 'Y'
df['fatal'].loc[(df['fatal'] == ' N')] = 'N'
df['fatal'].loc[(df['fatal'] == 'N ')] = 'N'
df['fatal'].loc[(df['fatal'] == '2017')] = 'NaN'
df['fatal'].loc[(df['fatal'] == 'M')] = 'NaN'
df['fatal'].loc[(df['fatal'] == 'nan')] = 'NaN'
df['fatal'].loc[(df['fatal'] == 'UNKNOWN')] = 'NaN'


'''df_fatal_year['fatal'].rename({' Y':'Y', 'Y ':'Y', 'y':'Y', 'y ':'Y', ' y':'Y', 'Y x 2':'Y', 'F':'Y',
                               ' N':'N', 'N ':'N', '2017':'UNKNOWN', 'M':'UNKNOWN', 'nan':'UNKNOWN'},
                               axis = 0, inplace = True)
df_fatal_year['fatal'].value_counts()
'''

/Users/aldreybaldovi/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

"df_fatal_year['fatal'].rename({' Y':'Y', 'Y ':'Y', 'y':'Y', 'y ':'Y', ' y':'Y', 'Y x 2':'Y', 'F':'Y',\n                               ' N':'N', 'N ':'N', '2017':'UNKNOWN', 'M':'UNKNOWN', 'nan':'UNKNOWN'},\n                               axis = 0, inplace = True)\ndf_fatal_year['fatal'].value_counts()\n"

In [333]:
df['fatal'].value_counts()

N       4537
Y       1412
NaN       72
2017       1
Name: fatal, dtype: int64

In [334]:
df_fatal_year = df.loc[:,['year', 'fatal', 'sex']]
df_fatal_year

      year fatal sex
0     2020     N   M
1     2020     N   M
2     2020     N   M
3     2020     N   M
4     2020     N   M
...    ...   ...  ..
6570  1800     Y   M
6571  1800     Y   M
6572  1800     Y   M
6573  1800     Y   M
6574  1800     Y   M

[6573 rows x 3 columns]

### **Answering the question:**

In [335]:
# How many fatal cases in general

fatal_cases = df.loc[df['fatal'] == 'Y']
print(fatal_cases.shape)

(1412, 10)

In [336]:
#How many fatal cases with **man**

sex_M = df.loc[(df['fatal'] == 'Y') & (df['sex'] == 'M'),['fatal','sex']]
print(sex_M.shape)

(1195, 2)

In [337]:
#How many fatal cases with **woman**

sex_F = df.loc[(df['fatal'] == 'Y') & (df['sex'] == 'F'),['fatal','sex']]
print(sex_F.shape)

(108, 2)

## There is more death cases with **man than woman** in all centuries (SEX, FATAL, DATE AND YEAR)

### **Separating intervals between centuries:**

In [338]:
df['fatal'] = df['fatal'].astype('str')

In [339]:
df_fatal_year.groupby('year', as_index = False).count()

     year  fatal  sex
0       5      1    1
1      77      1    1
2     500      1    1
3    1543      1    1
4    1554      1    1
5    1555      1    1
6    1580      1    1
7    1595      1    1
8    1617      1    1
9    1637      1    1
10   1638      1    1
11   1642      1    2
12   1700      3    3
13   1703      1    1
14   1721      1    1
15   1723      0    1
16   1733      0    1
17   1738      1    1
18   1742      1    1
19   1748      1    1
20   1749      1    1
21   1751      1    1
22   1753      1    1
23   1755      1    1
24   1758      1    1
25   1764      1    1
26   1767      0    1
27   1771      1    1
28   1776      2    2
29   1779      1    1
30   1780      1    1
31   1783      1    1
32   1784      1    1
33   1785      1    1
34   1786      1    1
35   1787      1    1
36   1788      1    1
37   1791      1    1
38   1792      1    1
39   1797      1    1
40   1800    125  127
41   1801      1    1
42   1802      1    1
43   1803      2    2
44   1804      1    1
45   1805      0    1
46   1807      1    1
47   1808      2    3
48   1810      1    1
49   1811      1    1
50   1812      1    1
51   1815      1    1
52   1816      1    1
53   1817      4    4
54   1818      0    1
55   1819      0    1
56   1822      1    1
57   1823      0    1
58   1825      2    2
59   1826      4    5
60   1827      3    3
61   1828      2    2
62   1829      3    3
63   1830      4    4
64   1831      1    2
65   1832      2    2
66   1834      1    1
67   1835      2    2
68   1836      1    2
69   1837      3    4
70   1839      3    4
71   1840      5    5
72   1841      1    1
73   1842      4    4
74   1844      4    4
75   1845      6    6
76   1846      3    3
77   1847      8    9
78   1848      3    4
79   1849      6    7
80   1850      2    2
81   1851      3    3
82   1852      8   10
83   1853      7    8
84   1855      6    7
85   1856      4    4
86   1857      1    1
87   1858      4    6
88   1859      1    1
89   1860      7    7
90   1861      5    5
91   1862     10   12
92   1863     10   11
93   1864     12   14
94   1865      4    4
95   1866      1    2
96   1867      5    5
97   1868      6    6
98   1869      1    2
99   1870      7    8
100  1871      7    9
101  1872      5    8
102  1873      3    4
103  1874     12   12
104  1875      3    5
105  1876      9    9
106  1877     12   14
107  1878     13   13
108  1879      7    8
109  1880     12   15
110  1881      7    9
111  1882     12   12
112  1883     12   13
113  1884      6    7
114  1885      9    9
115  1886     12   16
116  1887     12   13
117  1888     12   15
118  1889      7    9
119  1890     15   17
120  1891      8    9
121  1892     10   11
122  1893     11   13
123  1894     15   15
124  1895     19   20
125  1896     11   12
126  1897     10   11
127  1898     19   22
128  1899     17   20
129  1900     11   13
130  1901      7    9
131  1902     13   15
132  1903     10   10
133  1904     13   14
134  1905     12   18
135  1906     18   21
136  1907     20   23
137  1908     11   13
138  1909     15   18
139  1910     10   14
140  1911     15   16
141  1912     13   14
142  1913     15   18
143  1914     17   18
144  1915      9   12
145  1916     24   25
146  1917     11   11
147  1918      5    5
148  1919     14   14
149  1920     14   15
150  1921     11   12
151  1922     20   22
152  1923     17   21
153  1924     17   19
154  1925     13   14
155  1926     20   21
156  1927     19   19
157  1928     22   26
158  1929     36   38
159  1930     24   26
160  1931     26   29
161  1932     26   27
162  1933     21   22
163  1934     26   27
164  1935     26   32
165  1936     31   32
166  1937     25   30
167  1938     23   24
168  1939     24   25
169  1940     21   24
170  1941     26   27
171  1942     38   41
172  1943     24   28
173  1944     29   31
174  1945     16   16
175  1946     26   26
176  1947     28   30
177  1948     28   29
178  1949     27   31
179  1950     39   43
180  1951     29   32
181  1952     27   29
182  1953     35   36
183  1954     41   45
184  1955     42   43
185  1956     51   51
186  1957     38   41
187  1958     48   54
188  1959     81   93
189  1960     80   93
190  1961     72   78
191  1962     80   86
192  1963     55   61
193  1964     58   66
194  1965     43   51
195  1966     51   58
196  1967     41   48
197  1968     37   47
198  1969     27   30
199  1970     40   42
200  1971     29   30
201  1972     34   36
202  1973     27   27
203  1974     38   38
204  1975     44   49
205  1976     36   39
206  1977     23   26
207  1978     22   25
208  1979     24   25
209  1980     32   36
210  1981     46   49
211  1982     37   42
212  1983     44   50
213  1984     35   41
214  1985     32   37
215  1986     36   39
216  1987     30   35
217  1988     51   55
218  1989     47   53
219  1990     37   39
220  1991     38   39
221  1992     50   56
222  1993     55   56
223  1994     54   56
224  1995     68   76
225  1996     60   61
226  1997     54   57
227  1998     63   65
228  1999     63   66
229  2000     91   97
230  2001     87   92
231  2002     84   88
232  2003     86   92
233  2004     83   92
234  2005     91  103
235  2006     93  103
236  2007    101  113
237  2008    111  122
238  2009    110  120
239  2010     97  101
240  2011    118  128
241  2012    108  117
242  2013    115  122
243  2014    118  127
244  2015    130  143
245  2016    120  131
246  2017    126  139
247  2018    118  121
248  2019    106  111
249  2020     73   75

In [340]:
#separating intervals between centuries

#Before century XIX
start_date_BXIX = 0
end_date_BXIX = 1800

#Century XIX
start_date_XIX = 1801
end_date_XIX = 1900

#Century XX
start_date_XX = 1901
end_date_XX = 2000

#Century XXI
start_date_XXI = 2001
end_date_XXI = 2020

#masks:
mask_BXIX = (df_fatal_year['year'] > start_date_BXIX) & (df_fatal_year['year'] <= end_date_BXIX)

mask_XIX = (df_fatal_year['year'] > start_date_XIX) & (df_fatal_year['year'] <= end_date_XIX)

mask_XX = (df_fatal_year['year'] > start_date_XX) & (df_fatal_year['year'] <= end_date_XX)

mask_XXI = (df_fatal_year['year'] > start_date_XXI) & (df_fatal_year['year'] <= end_date_XXI)

### **Answering the question:**

#### Century 18

In [341]:
# Before century XIX : Fatal cases
bxix = df_fatal_year.loc[mask_BXIX].groupby('fatal', as_index = False).count()
bxix.loc[:,['fatal', 'year']]

  fatal  year
0     N    72
1   NaN     8
2     Y    85

In [342]:
# Before century XIX : Fatal cases by sex (male)
(df_fatal_year.loc[mask_BXIX].loc[(df['fatal'] == 'Y') & (df['sex'] == 'M'),['fatal','sex']]).shape

(74, 2)

In [343]:
# Before century XIX : Fatal cases by sex (female)
(df_fatal_year.loc[mask_BXIX].loc[(df['fatal'] == 'Y') & (df['sex'] == 'F'),['fatal','sex']]).shape

(5, 2)

#### Century 19

In [344]:
# Century XIX : Fatal cases
xix = df_fatal_year.loc[mask_XIX].groupby('fatal', as_index = False).count()
xix.loc[:,['fatal', 'year']]

  fatal  year
0     N   223
1   NaN     9
2     Y   278

In [345]:
# Century XIX : Fatal cases : Fatal cases by sex (male)
(df_fatal_year.loc[mask_XIX].loc[(df['fatal'] == 'Y') & (df['sex'] == 'M'),['fatal','sex']]).shape

(256, 2)

In [346]:
# Century XIX : Fatal cases : Fatal cases by sex (female)
(df_fatal_year.loc[mask_XIX].loc[(df['fatal'] == 'Y') & (df['sex'] == 'F'),['fatal','sex']]).shape

(9, 2)

#### Century 20

In [347]:
# Century XX : Fatal cases
xx = df_fatal_year.loc[mask_XX].groupby('fatal', as_index = False).count()
xx.loc[:,['fatal', 'year']]

  fatal  year
0     N  2348
1   NaN    52
2     Y   864

In [348]:
# Century XX : Fatal cases : Fatal cases by sex (male)
(df_fatal_year.loc[mask_XX].loc[(df['fatal'] == 'Y') & (df['sex'] == 'M'),['fatal','sex']]).shape

(714, 2)

In [349]:
# Century XX : Fatal cases : Fatal cases by sex (female)
(df_fatal_year.loc[mask_XX].loc[(df['fatal'] == 'Y') & (df['sex'] == 'F'),['fatal','sex']]).shape

(72, 2)

#### Century 21

In [350]:
# Century XXI : Fatal cases
xxi = df_fatal_year.loc[mask_XXI].groupby('fatal', as_index = False).count()
xxi.loc[:,['fatal', 'year']]

  fatal  year
0  2017     1
1     N  1809
2   NaN     3
3     Y   175

In [351]:
# Century XXI : Fatal cases : Fatal cases by sex (male)
(df_fatal_year.loc[mask_XXI].loc[(df['fatal'] == 'Y') & (df['sex'] == 'M'),['fatal','sex']]).shape

(143, 2)

In [352]:
# Century XXI : Fatal cases : Fatal cases by sex (female)
(df_fatal_year.loc[mask_XXI].loc[(df['fatal'] == 'Y') & (df['sex'] == 'F'),['fatal','sex']]).shape

(22, 2)

In [353]:
bxix_y = bxix['year'][bxix['fatal']=='Y']
xix_y = xix['year'][xix['fatal']=='Y']
xx_y = xx['year'][xx['fatal']=='Y']
xxi_y = xxi['sex'][xxi['fatal']=='Y']

print(f'Before Century XIX: {bxix_y}, Century XIX: {xix_y}, Century XX: {xx_y}, Century XXI: {xxi_y}')

Before Century XIX: 2    85
Name: year, dtype: int64, Century XIX: 2    278
Name: year, dtype: int64, Century XX: 2    864
Name: year, dtype: int64, Century XXI: 3    175
Name: sex, dtype: int64

## **Young people** is more likely to die by shark attacks (AGE COLUMN)

### **Working with `age` column**

In [354]:
df['age'].head

<bound method NDFrame.head of 0        30
1       50s
2       NaN
3        48
4        15
       ...
6570    NaN
6571    NaN
6572    NaN
6573    NaN
6574     15
Name: age, Length: 6573, dtype: object>

In [355]:
df['age'].value_counts()

16                         86
19                         86
17                         82
18                         82
17                         80
15                         77
18                         73
20                         72
20                         72
21                         67
25                         65
22                         65
15                         65
19                         59
14                         58
16                         57
24                         56
21                         55
24                         54
22                         54
13                         52
14                         51
12                         50
26                         49
25                         48
23                         47
29                         47
28                         47
13                         46
30                         43
27                         41
23                         40
35                         39
26                         39
27                         39
30                         38
32                         37
32                         36
28                         36
29                         35
40                         34
35                         32
10                         31
38                         31
12                         31
31                         30
10                         28
37                         27
43                         27
34                         26
34                         25
52                         24
41                         24
31                         24
33                         24
40                         24
36                         23
33                         23
39                         23
9                          22
36                         22
42                         21
50                         21
11                         21
38                         20
11                         20
42                         20
45                         19
49                         19
43                         19
50                         18
41                         17
37                         17
45                         17
9                          17
44                         16
7                          16
48                         16
46                         16
39                         16
55                         16
8                          15
46                         15
48                         15
8                          15
47                         15
47                         15
44                         14
57                         13
51                         12
49                         11
60                         11
51                         11
52                         11
Teen                       10
54                         10
55                         10
58                          9
6                           9
69                          9
20s                         9
58                          9
30s                         8
54                          8
7                           8
53                          7
63                          7
57                          7
60                          7
61                          7
53                          7
59                          7
61                          7
56                          6
6                           6
68                          5
teen                        5
56                          5
70                          5
59                          5
62                          5
65                          5
70                          5
62                          4
5                           4
63                          3
60s                         3
64                          3
40s                         3
66                          3
75                          3
5                           3
3                           3
73                          3
50s                         3
64                          2
young                       2
8 or 10                     2
7 or 8                      2
68                          2
77                          2
3                           2
                            2
65                          2
71                          2
4                           1
67                          1
66                          1
71                          1
72                          1
87                          1
                            1
45                          1
mid-30s                     1
36 & 23                     1
60's                        1
12 or 13                    1
25 or 28                    1
31 or 33                    1
9 or 10                     1
81                          1
X                           1
21 or 26                    1
30 or 36                    1
74                          1
77                          1
adult                       1
18 or 20                    1
13 or 14                    1
37, 67, 35, 27,  ? & 27     1
(adult)                     1
28 & 22                     1
20                          1
13 or 18                    1
mid-20s                     1
33 & 37                     1
a minor                     1
18 to 22                    1
50 & 30                     1
23 & 26                     1
9 & 60                      1
28 & 26                     1
                            1
74                          1
25 to 35                    1
78                          1
28, 23 & 30                 1
20?                         1
MAKE LINE GREEN             1
46 & 34                     1
2 to 3 months               1
32 & 30                     1
Teens                       1
33 or 37                    1
33 & 26                     1
21, 34,24 & 35              1
17 & 35                     1
? & 19                      1
2½                          1
4                           1
21 & ?                      1
23 & 20                     1
"young"                     1
"middle-age"                1
Ca. 33                      1
86                          1
17 & 16                     1
16 to 18                    1
Both 11                     1
7      &    31              1
34 & 19                     1
74                          1
6½                          1
84                          1
82                          1
18 months                   1
36 & 26                     1
 43                         1
?    &   14                 1
F                           1
20's                        1
30 & 32                     1
9 months                    1
>50                         1
67                          1
Elderly                     1
 28                         1
1                           1
69                          1
22, 57, 31                  1
A.M.                        1
10 or 12                    1
9 & 12                      1
 30                         1
78                          1
1                           1
Name: age, dtype: int64

In [356]:
null_lines_age = df['age'].isnull()
df[null_lines_age].head()

,date,year,type,country,area,sex,age,species,activity,fatal
2,16-Sep-2020,2020,Unprovoked,AUSTRALIA,New South Wales,M,NaN,White shark,Foil-boarding,N
9,02-Sep-2020,2020,Unprovoked,USA,Florida,M,NaN,"Nurse shark, juvenile",NaN,N
10,30-Aug-2020,2020,Watercraft,AUSTRALIA,New South Wales,NaN,NaN,White shark,Fishing / Filming sharks feeding on whale carcass,N
12,28-Aug-2020,2020,Unprovoked,USA,California,M,NaN,White shark,Kayak fishing,N
16,19-Aug-2020,2020,NaN,USA,South Carolina,F,NaN,NaN,Wading,N

In [357]:
len(df[null_lines_age])

2902

In [358]:
drop_lines_age = list(df[null_lines_age].index)

In [359]:
# Dropping null lines

df_age = df.drop(drop_lines_age, axis = 0)
len(df_age)

3671

In [360]:
df_age['age'].value_counts()

19                         86
16                         86
17                         82
18                         82
17                         80
15                         77
18                         73
20                         72
20                         72
21                         67
25                         65
15                         65
22                         65
19                         59
14                         58
16                         57
24                         56
21                         55
24                         54
22                         54
13                         52
14                         51
12                         50
26                         49
25                         48
28                         47
23                         47
29                         47
13                         46
30                         43
27                         41
23                         40
26                         39
27                         39
35                         39
30                         38
32                         37
32                         36
28                         36
29                         35
40                         34
35                         32
38                         31
10                         31
12                         31
31                         30
10                         28
43                         27
37                         27
34                         26
34                         25
33                         24
40                         24
31                         24
41                         24
52                         24
36                         23
33                         23
39                         23
9                          22
36                         22
11                         21
42                         21
50                         21
11                         20
38                         20
42                         20
45                         19
43                         19
49                         19
50                         18
41                         17
37                         17
45                         17
9                          17
48                         16
44                         16
55                         16
39                         16
7                          16
46                         16
46                         15
47                         15
47                         15
48                         15
8                          15
8                          15
44                         14
57                         13
51                         12
49                         11
51                         11
60                         11
52                         11
Teen                       10
55                         10
54                         10
58                          9
20s                         9
6                           9
69                          9
58                          9
54                          8
30s                         8
7                           8
53                          7
61                          7
60                          7
63                          7
57                          7
53                          7
61                          7
59                          7
6                           6
56                          6
70                          5
65                          5
70                          5
59                          5
68                          5
teen                        5
56                          5
62                          5
5                           4
62                          4
60s                         3
5                           3
66                          3
73                          3
75                          3
50s                         3
64                          3
63                          3
40s                         3
3                           3
7 or 8                      2
71                          2
8 or 10                     2
64                          2
                            2
68                          2
65                          2
young                       2
3                           2
77                          2
82                          1
71                          1
72                          1
74                          1
66                          1
67                          1
4                           1
77                          1
36 & 26                     1
18 months                   1
74                          1
 43                         1
84                          1
30 & 32                     1
9 & 60                      1
4                           1
25 or 28                    1
31 or 33                    1
23 & 20                     1
F                           1
9 or 10                     1
X                           1
                            1
9 months                    1
>50                         1
67                          1
28 & 26                     1
 28                         1
Elderly                     1
20's                        1
23 & 26                     1
50 & 30                     1
1                           1
13 or 18                    1
                            1
13 or 14                    1
37, 67, 35, 27,  ? & 27     1
45                          1
28 & 22                     1
20                          1
mid-30s                     1
mid-20s                     1
36 & 23                     1
17 & 35                     1
87                          1
33 & 37                     1
18 to 22                    1
60's                        1
"young"                     1
12 or 13                    1
21 & ?                      1
a minor                     1
81                          1
33 or 37                    1
86                          1
46 & 34                     1
2 to 3 months               1
(adult)                     1
34 & 19                     1
16 to 18                    1
32 & 30                     1
7      &    31              1
"middle-age"                1
74                          1
33 & 26                     1
21, 34,24 & 35              1
6½                          1
adult                       1
2½                          1
Teens                       1
Ca. 33                      1
?    &   14                 1
? & 19                      1
Both 11                     1
22, 57, 31                  1
25 to 35                    1
MAKE LINE GREEN             1
A.M.                        1
10 or 12                    1
9 & 12                      1
21 or 26                    1
 30                         1
20?                         1
78                          1
69                          1
17 & 16                     1
78                          1
28, 23 & 30                 1
30 or 36                    1
18 or 20                    1
1                           1
Name: age, dtype: int64

In [361]:
df_age['age'] = df_age['age'].astype('str')

In [362]:
def fix_age(x):
    '''
    Function to correct data from df['age']
    
    This function takes the last numbers of the text
    '''
    
    pattern = '\d?\d$'
    
    if x != x:
        return '0'
    
    if len(re.findall(pattern, x)) == 0: 
        return '0'
    
    text = re.findall(pattern, x)[0]
    
   
    
    return text

In [363]:
#test

fix_age('18 e 12 e 03543350s')

'0'

In [364]:
df_age

,date,year,type,country,area,sex,age,species,activity,fatal
0,20-Sep-2020,2020,Unprovoked,USA,Florida,M,30,Bull shark,Snorkeling,N
1,17-Sep-2020,2020,Provoked,AUSTRALIA,Queensland,M,50s,"""whitetip shark""",Fishing,N
3,16-Sep-2020,2020,NaN,USA,Florida,M,48,Shark involvement not confirmed,Swimming,N
4,15-Sep-2020,2020,Unprovoked,USA,Florida,M,15,NaN,Surfing,N
5,15-Sep-2020,2020,Unprovoked,USA,Florida,M,25,NaN,Surfing,N
...,...,...,...,...,...,...,...,...,...,...
6516,1960s,1800,Unprovoked,IRAQ,Basrah,M,16,Bull shark,Swimming in section of river used for washing ...,N
6527,Before 1957,1800,Provoked,CUBA,Havana Province,M,50,NaN,"Shark fishing, knocked overboard",Y
6538,1941-1942,1800,Unprovoked,IRAQ,Basrah,M,13 or 14,Bull shark,Swimming,Y
6549,Early 1930s,1800,Unprovoked,BELIZE,NaN,M,16,12' tiger shark,Standing,Y
6574,1845-1853,1800,Unprovoked,CEYLON (SRI LANKA),Eastern Province,M,15,NaN,Swimming,Y

In [365]:
# Applying the function fix_age in df_age['age']

df_age['age'] = df_age['age'].apply(fix_age)

In [366]:
df_age['age'].value_counts()

17    162
18    157
19    147
20    146
16    144
15    142
21    122
22    121
25    113
14    111
24    110
13     99
26     93
23     88
30     85
28     85
12     83
29     82
27     81
32     74
35     74
0      72
10     62
40     58
31     56
34     52
38     51
33     49
43     47
36     46
37     46
11     42
42     41
41     41
50     40
9      39
39     39
45     36
52     35
8      32
48     31
46     31
44     30
47     30
49     30
55     26
7      24
51     23
57     20
60     19
58     18
54     18
6      15
53     14
61     14
59     12
56     11
63     10
70     10
69     10
62      9
5       7
68      7
65      7
64      5
3       5
66      4
75      3
77      3
73      3
71      3
67      2
78      2
1       2
74      2
4       2
86      1
81      1
82      1
84      1
72      1
87      1
Name: age, dtype: int64

### **Answering the question**

In [367]:
df_age['age'] = df_age['age'].astype('int')

In [368]:
# # Defining age groups:

# #kids = 0 to 12
# mask_kids = (df_age['age'] > 0) & (df_age['age'] <= 12)

# #teenager = 13 to 17
# mask_teenager = (df_age['age'] > 12) & (df_age['age'] <= 17)

# #young_adult = 18 to 32
# mask_young_adult = (df_age['age'] > 17) & (df_age['age'] <= 32)

# #adult = 33 to 55
# mask_adult = (df_age['age'] > 32) & (df_age['age'] <= 55)

# #older > 55
# mask_older = (df_age['age'] > 55)

In [369]:
# Defining age groups:
df_age['age_group'] = pd.cut(df_age['age'],[0,12,17,32,55,200], labels = ['kids','teenager','young_adult','adult','older'])
df_age.head()

,date,year,type,country,area,sex,age,species,activity,fatal,age_group
0,20-Sep-2020,2020,Unprovoked,USA,Florida,M,30,Bull shark,Snorkeling,N,young_adult
1,17-Sep-2020,2020,Provoked,AUSTRALIA,Queensland,M,0,"""whitetip shark""",Fishing,N,NaN
3,16-Sep-2020,2020,NaN,USA,Florida,M,48,Shark involvement not confirmed,Swimming,N,adult
4,15-Sep-2020,2020,Unprovoked,USA,Florida,M,15,NaN,Surfing,N,teenager
5,15-Sep-2020,2020,Unprovoked,USA,Florida,M,25,NaN,Surfing,N,young_adult

In [370]:
# Before century XIX : Verifying the number of fatal cases by age group
df_age.loc[mask_BXIX,'century'] = 18
df_age.loc[mask_XIX,'century'] = 19
df_age.loc[mask_XX,'century'] = 20
df_age.loc[mask_XXI,'century'] = 21


df_age

,date,year,type,country,area,sex,age,species,activity,fatal,age_group,century
0,20-Sep-2020,2020,Unprovoked,USA,Florida,M,30,Bull shark,Snorkeling,N,young_adult,21.0
1,17-Sep-2020,2020,Provoked,AUSTRALIA,Queensland,M,0,"""whitetip shark""",Fishing,N,NaN,21.0
3,16-Sep-2020,2020,NaN,USA,Florida,M,48,Shark involvement not confirmed,Swimming,N,adult,21.0
4,15-Sep-2020,2020,Unprovoked,USA,Florida,M,15,NaN,Surfing,N,teenager,21.0
5,15-Sep-2020,2020,Unprovoked,USA,Florida,M,25,NaN,Surfing,N,young_adult,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...
6516,1960s,1800,Unprovoked,IRAQ,Basrah,M,16,Bull shark,Swimming in section of river used for washing ...,N,teenager,18.0
6527,Before 1957,1800,Provoked,CUBA,Havana Province,M,50,NaN,"Shark fishing, knocked overboard",Y,adult,18.0
6538,1941-1942,1800,Unprovoked,IRAQ,Basrah,M,14,Bull shark,Swimming,Y,teenager,18.0
6549,Early 1930s,1800,Unprovoked,BELIZE,NaN,M,16,12' tiger shark,Standing,Y,teenager,18.0
6574,1845-1853,1800,Unprovoked,CEYLON (SRI LANKA),Eastern Province,M,15,NaN,Swimming,Y,teenager,18.0

In [371]:
df_grouped = df_age.groupby(['fatal','age_group','century','sex']).agg(count_cases = ('date','count')).reset_index()
#df_grouped.loc[:,['fatal','age_group','century','sex']]

df_grouped

    fatal    age_group  century  sex  count_cases
0    2017         kids     18.0    F            0
1    2017         kids     18.0    M            0
2    2017         kids     18.0  NaN            0
3    2017         kids     19.0    F            0
4    2017         kids     19.0    M            0
5    2017         kids     19.0  NaN            0
6    2017         kids     20.0    F            0
7    2017         kids     20.0    M            0
8    2017         kids     20.0  NaN            0
9    2017         kids     21.0    F            0
10   2017         kids     21.0    M            0
11   2017         kids     21.0  NaN            0
12   2017     teenager     18.0    F            0
13   2017     teenager     18.0    M            0
14   2017     teenager     18.0  NaN            0
15   2017     teenager     19.0    F            0
16   2017     teenager     19.0    M            0
17   2017     teenager     19.0  NaN            0
18   2017     teenager     20.0    F            0
19   2017     teenager     20.0    M            0
20   2017     teenager     20.0  NaN            0
21   2017     teenager     21.0    F            0
22   2017     teenager     21.0    M            0
23   2017     teenager     21.0  NaN            0
24   2017  young_adult     18.0    F            0
25   2017  young_adult     18.0    M            0
26   2017  young_adult     18.0  NaN            0
27   2017  young_adult     19.0    F            0
28   2017  young_adult     19.0    M            0
29   2017  young_adult     19.0  NaN            0
30   2017  young_adult     20.0    F            0
31   2017  young_adult     20.0    M            0
32   2017  young_adult     20.0  NaN            0
33   2017  young_adult     21.0    F            0
34   2017  young_adult     21.0    M            0
35   2017  young_adult     21.0  NaN            0
36   2017        adult     18.0    F            0
37   2017        adult     18.0    M            0
38   2017        adult     18.0  NaN            0
39   2017        adult     19.0    F            0
40   2017        adult     19.0    M            0
41   2017        adult     19.0  NaN            0
42   2017        adult     20.0    F            0
43   2017        adult     20.0    M            0
44   2017        adult     20.0  NaN            0
45   2017        adult     21.0    F            0
46   2017        adult     21.0    M            0
47   2017        adult     21.0  NaN            0
48   2017        older     18.0    F            0
49   2017        older     18.0    M            0
50   2017        older     18.0  NaN            0
51   2017        older     19.0    F            0
52   2017        older     19.0    M            0
53   2017        older     19.0  NaN            0
54   2017        older     20.0    F            0
55   2017        older     20.0    M            0
56   2017        older     20.0  NaN            0
57   2017        older     21.0    F            0
58   2017        older     21.0    M            1
59   2017        older     21.0  NaN            0
60      N         kids     18.0    F            0
61      N         kids     18.0    M            1
62      N         kids     18.0  NaN            0
63      N         kids     19.0    F            0
64      N         kids     19.0    M            2
65      N         kids     19.0  NaN            0
66      N         kids     20.0    F           22
67      N         kids     20.0    M           77
68      N         kids     20.0  NaN            1
69      N         kids     21.0    F           46
70      N         kids     21.0    M           94
71      N         kids     21.0  NaN            0
72      N     teenager     18.0    F            1
73      N     teenager     18.0    M            2
74      N     teenager     18.0  NaN            0
75      N     teenager     19.0    F            1
76      N     teenager     19.0    M           12
77      N     teenager     19.0  NaN            0
78      N     teenager     20.0    F           30
79      N     teenager     20.0    M          242
80      N     teenager     20.0  NaN            7
81      N     teenager     21.0    F           51
82      N     teenager     21.0    M          150
83      N     teenager     21.0  NaN            1
84      N  young_adult     18.0    F            1
85      N  young_adult     18.0    M            4
86      N  young_adult     18.0  NaN            0
87      N  young_adult     19.0    F            0
88      N  young_adult     19.0    M            8
89      N  young_adult     19.0  NaN            0
90      N  young_adult     20.0    F           47
91      N  young_adult     20.0    M          603
92      N  young_adult     20.0  NaN           11
93      N  young_adult     21.0    F           54
94      N  young_adult     21.0    M          415
95      N  young_adult     21.0  NaN            3
96      N        adult     18.0    F            0
97      N        adult     18.0    M            1
98      N        adult     18.0  NaN            0
99      N        adult     19.0    F            0
100     N        adult     19.0    M            5
101     N        adult     19.0  NaN            0
102     N        adult     20.0    F           21
103     N        adult     20.0    M          227
104     N        adult     20.0  NaN            1
105     N        adult     21.0    F           68
106     N        adult     21.0    M          338
107     N        adult     21.0  NaN            1
108     N        older     18.0    F            0
109     N        older     18.0    M            0
110     N        older     18.0  NaN            0
111     N        older     19.0    F            1
112     N        older     19.0    M            0
113     N        older     19.0  NaN            0
114     N        older     20.0    F            4
115     N        older     20.0    M           24
116     N        older     20.0  NaN            0
117     N        older     21.0    F           28
118     N        older     21.0    M           70
119     N        older     21.0  NaN            0
120   NaN         kids     18.0    F            0
121   NaN         kids     18.0    M            0
122   NaN         kids     18.0  NaN            0
123   NaN         kids     19.0    F            0
124   NaN         kids     19.0    M            0
125   NaN         kids     19.0  NaN            0
126   NaN         kids     20.0    F            0
127   NaN         kids     20.0    M            0
128   NaN         kids     20.0  NaN            0
129   NaN         kids     21.0    F            0
130   NaN         kids     21.0    M            0
131   NaN         kids     21.0  NaN            0
132   NaN     teenager     18.0    F            0
133   NaN     teenager     18.0    M            0
134   NaN     teenager     18.0  NaN            0
135   NaN     teenager     19.0    F            0
136   NaN     teenager     19.0    M            1
137   NaN     teenager     19.0  NaN            0
138   NaN     teenager     20.0    F            1
139   NaN     teenager     20.0    M            3
140   NaN     teenager     20.0  NaN            0
141   NaN     teenager     21.0    F            0
142   NaN     teenager     21.0    M            0
143   NaN     teenager     21.0  NaN            0
144   NaN  young_adult     18.0    F            0
145   NaN  young_adult     18.0    M            0
146   NaN  young_adult     18.0  NaN            0
147   NaN  young_adult     19.0    F            0
148   NaN  young_adult     19.0    M            0
149   NaN  young_adult     19.0  NaN            0
150   NaN  young_adult     20.0    F            0
151   NaN  young_adult     20.0    M            3
152   NaN  young_adult     20.0  NaN            2
153   NaN  young_adult     21.0    F            0
154   NaN  young_adult     21.0    M            1
155   NaN  young_adult     21.0  NaN            0
156   NaN        adult     18.0    F            0
157   NaN        adult     18.0    M            0
158   NaN        adult     18.0  NaN            0
159   NaN        adult     19.0    F            0
160   NaN        adult     19.0    M            0
161   NaN        adult     19.0  NaN            0
162   NaN        adult     20.0    F            0
163   NaN        adult     20.0    M            0
164   NaN        adult     20.0  NaN            0
165   NaN        adult     21.0    F            0
166   NaN        adult     21.0    M            0
167   NaN        adult     21.0  NaN            0
168   NaN        older     18.0    F            0
169   NaN        older     18.0    M            0
170   NaN        older     18.0  NaN            0
171   NaN        older     19.0    F            0
172   NaN        older     19.0    M            0
173   NaN        older     19.0  NaN            0
174   NaN        older     20.0    F            0
175   NaN        older     20.0    M            0
176   NaN        older     20.0  NaN            0
177   NaN        older     21.0    F            0
178   NaN        older     21.0    M            0
179   NaN        older     21.0  NaN            0
180     Y         kids     18.0    F            0
181     Y         kids     18.0    M            0
182     Y         kids     18.0  NaN            0
183     Y         kids     19.0    F            0
184     Y         kids     19.0    M            8
185     Y         kids     19.0  NaN            0
186     Y         kids     20.0    F            4
187     Y         kids     20.0    M           22
188     Y         kids     20.0  NaN            1
189     Y         kids     21.0    F            1
190     Y         kids     21.0    M            0
191     Y         kids     21.0  NaN            0
192     Y     teenager     18.0    F            0
193     Y     teenager     18.0    M            3
194     Y     teenager     18.0  NaN            0
195     Y     teenager     19.0    F            0
196     Y     teenager     19.0    M            7
197     Y     teenager     19.0  NaN            0
198     Y     teenager     20.0    F            9
199     Y     teenager     20.0    M           82
200     Y     teenager     20.0  NaN            3
201     Y     teenager     21.0    F            3
202     Y     teenager     21.0    M           13
203     Y     teenager     21.0  NaN            0
204     Y  young_adult     18.0    F            0
205     Y  young_adult     18.0    M            1
206     Y  young_adult     18.0  NaN            0
207     Y  young_adult     19.0    F            0
208     Y  young_adult     19.0    M           22
209     Y  young_adult     19.0  NaN            0
210     Y  young_adult     20.0    F           19
211     Y  young_adult     20.0    M          184
212     Y  young_adult     20.0  NaN            2
213     Y  young_adult     21.0    F            7
214     Y  young_adult     21.0    M           56
215     Y  young_adult     21.0  NaN            0
216     Y        adult     18.0    F            0
217     Y        adult     18.0    M            1
218     Y        adult     18.0  NaN            0
219     Y        adult     19.0    F            0
220     Y        adult     19.0    M            5
221     Y        adult     19.0  NaN            0
222     Y        adult     20.0    F           10
223     Y        adult     20.0    M           70
224     Y        adult     20.0  NaN            1
225     Y        adult     21.0    F            4
226     Y        adult     21.0    M           46
227     Y        adult     21.0  NaN            0
228     Y        older     18.0    F            0
229     Y        older     18.0    M            0
230     Y        older     18.0  NaN            0
231     Y        older     19.0    F            0
232     Y        older     19.0    M            0
233     Y        older     19.0  NaN            0
234     Y        older     20.0    F            4
235     Y        older     20.0    M           12
236     Y        older     20.0  NaN            1
237     Y        older     21.0    F            7
238     Y        older     21.0    M           14
239     Y        older     21.0  NaN            0
240   nan         kids     18.0    F            0
241   nan         kids     18.0    M            0
242   nan         kids     18.0  NaN            0
243   nan         kids     19.0    F            1
244   nan         kids     19.0    M            0
245   nan         kids     19.0  NaN            0
246   nan         kids     20.0    F            0
247   nan         kids     20.0    M            8
248   nan         kids     20.0  NaN            0
249   nan         kids     21.0    F           10
250   nan         kids     21.0    M            7
251   nan         kids     21.0  NaN            0
252   nan     teenager     18.0    F            0
253   nan     teenager     18.0    M            0
254   nan     teenager     18.0  NaN            0
255   nan     teenager     19.0    F            1
256   nan     teenager     19.0    M            0
257   nan     teenager     19.0  NaN            0
258   nan     teenager     20.0    F            1
259   nan     teenager     20.0    M           13
260   nan     teenager     20.0  NaN            0
261   nan     teenager     21.0    F            0
262   nan     teenager     21.0    M           10
263   nan     teenager     21.0  NaN            0
264   nan  young_adult     18.0    F            0
265   nan  young_adult     18.0    M            0
266   nan  young_adult     18.0  NaN            0
267   nan  young_adult     19.0    F            0
268   nan  young_adult     19.0    M            2
269   nan  young_adult     19.0  NaN            0
270   nan  young_adult     20.0    F           10
271   nan  young_adult     20.0    M           49
272   nan  young_adult     20.0  NaN            1
273   nan  young_adult     21.0    F            5
274   nan  young_adult     21.0    M           23
275   nan  young_adult     21.0  NaN            0
276   nan        adult     18.0    F            0
277   nan        adult     18.0    M            0
278   nan        adult     18.0  NaN            0
279   nan        adult     19.0    F            0
280   nan        adult     19.0    M            0
281   nan        adult     19.0  NaN            0
282   nan        adult     20.0    F            4
283   nan        adult     20.0    M           28
284   nan        adult     20.0  NaN            0
285   nan        adult     21.0    F            5
286   nan        adult     21.0    M           33
287   nan        adult     21.0  NaN            0
288   nan        older     18.0    F            0
289   nan        older     18.0    M            0
290   nan        older     18.0  NaN            0
291   nan        older     19.0    F            0
292   nan        older     19.0    M            0
293   nan        older     19.0  NaN            0
294   nan        older     20.0    F            1
295   nan        older     20.0    M            3
296   nan        older     20.0  NaN            0
297   nan        older     21.0    F            0
298   nan        older     21.0    M            7
299   nan        older     21.0  NaN            1

In [372]:
import gc
gc.collect()

20

In [373]:
# Verifying the number of fatal cases by age by sex by century
df_grouped = df_grouped.query('fatal == "Y"')
df_grouped.head()

    fatal age_group  century  sex  count_cases
180     Y      kids     18.0    F            0
181     Y      kids     18.0    M            0
182     Y      kids     18.0  NaN            0
183     Y      kids     19.0    F            0
184     Y      kids     19.0    M            8

#### Century 18

In [374]:
df_18 = df_grouped.query('century == "18"')

In [375]:
df_18.query('sex == "F"')

    fatal    age_group  century sex  count_cases
180     Y         kids     18.0   F            0
192     Y     teenager     18.0   F            0
204     Y  young_adult     18.0   F            0
216     Y        adult     18.0   F            0
228     Y        older     18.0   F            0

In [376]:
df_18.query('sex == "M"')

    fatal    age_group  century sex  count_cases
181     Y         kids     18.0   M            0
193     Y     teenager     18.0   M            3
205     Y  young_adult     18.0   M            1
217     Y        adult     18.0   M            1
229     Y        older     18.0   M            0

#### Century 19

In [377]:
df_19 = df_grouped.query('century == "19"')

In [378]:
df_19.query('sex == "F"')

    fatal    age_group  century sex  count_cases
183     Y         kids     19.0   F            0
195     Y     teenager     19.0   F            0
207     Y  young_adult     19.0   F            0
219     Y        adult     19.0   F            0
231     Y        older     19.0   F            0

In [379]:
df_19.query('sex == "M"')

    fatal    age_group  century sex  count_cases
184     Y         kids     19.0   M            8
196     Y     teenager     19.0   M            7
208     Y  young_adult     19.0   M           22
220     Y        adult     19.0   M            5
232     Y        older     19.0   M            0

#### Century 20

In [380]:
df_20 = df_grouped.query('century == "20"')

In [381]:
df_20.query('sex == "F"')

    fatal    age_group  century sex  count_cases
186     Y         kids     20.0   F            4
198     Y     teenager     20.0   F            9
210     Y  young_adult     20.0   F           19
222     Y        adult     20.0   F           10
234     Y        older     20.0   F            4

In [382]:
df_20.query('sex == "M"')

    fatal    age_group  century sex  count_cases
187     Y         kids     20.0   M           22
199     Y     teenager     20.0   M           82
211     Y  young_adult     20.0   M          184
223     Y        adult     20.0   M           70
235     Y        older     20.0   M           12

#### Century 21

In [383]:
df_21 = df_grouped.query('century == "21"')

In [384]:
df_21.query('sex == "F"')

    fatal    age_group  century sex  count_cases
189     Y         kids     21.0   F            1
201     Y     teenager     21.0   F            3
213     Y  young_adult     21.0   F            7
225     Y        adult     21.0   F            4
237     Y        older     21.0   F            7

In [385]:
df_21.query('sex == "M"')

    fatal    age_group  century sex  count_cases
190     Y         kids     21.0   M            0
202     Y     teenager     21.0   M           13
214     Y  young_adult     21.0   M           56
226     Y        adult     21.0   M           46
238     Y        older     21.0   M           14

## Surf is the activity which causes more accident **in the last years** (YEAR AND ACTIVITY COLUMNS)

### **Working with `activity` column**

- Grouping the activities which shows the greatest number of fatalities

In [386]:
df_fatal_act = df.loc[:,['activity', 'fatal']]
df_fatal_act

           activity fatal
0        Snorkeling     N
1           Fishing     N
2     Foil-boarding     N
3          Swimming     N
4           Surfing     N
...             ...   ...
6570         Diving     Y
6571   Pearl diving     Y
6572       Swimming     Y
6573            NaN     Y
6574       Swimming     Y

[6573 rows x 2 columns]

In [387]:
df_fatal_act.groupby('activity', as_index = False).count()

                                               activity  fatal
0                                                            1
1                                                            1
2                           Diving for abalone (Hookah)      1
3      a canoe was pursuing a schooner that had forc...      1
4                                       "Boat accident"      1
...                                                 ...    ...
1547  ship torpedoed 400 miles off the African coas....      1
1548                                         small boat      1
1549        wreck of the State Oil Company ship Permina      1
1550                                  yachting accident      1
1551                              yachtsman in a zodiac      1

[1552 rows x 2 columns]

In [388]:
# pattern = '.*diving.*'
# text = 'I was snorkling and I was bitten'

# re.sub(pattern, 'diving', text)

# pattern = '.*snorkling.*'
# text = 'I was diving and I was bitten'

# re.sub(pattern, 'snorkling', text)

# list_of_activities = ['diving','snorkling']

# for each_activity in list_of_activities:
#     pattern = f'.*{each_activity}.*'
#     text = re.sub(pattern, each_activity, text)
    
# text

In [429]:
def fix_activity(text):
    '''
    Function to correct data from df['activity']
    
    This function takes the text and search for key words 
    (diving, surfing, fishing, snorkeling, swimming, boarding, boat, yacht)
    '''
    if text != text:
        return 'NaN'
    
    text = text.lower()
    
    list_of_activities = ['div', 'surf', 'fish', 'snork', 'swim', 'board', 'boat', 'yacht', 'bath', 'kayak', 'float', 'walk','play']  
    #pattern = '.*(diving).*|.*(surfing).*|.*(fishing).*|.*(snorkling).*|.*(swimming).*|.*(boarding).*|.*(boat).*|.*(yacht).*'
    found = 0

    for each_activity in list_of_activities:
        pattern = f'.*{each_activity}.*'
        text = re.sub(pattern, each_activity, text)
        
        if len(re.findall(pattern, text)) != 0: 
            found += 1
        
    if found == 0:
        text = 'outros'
        

    #[x for x in re.findall(pattern, text)[0] if x != '']

    #re.sub(pattern, [x for x in re.findall(pattern, text)[0] if x != ''][0], text)
   
    
    return text

In [430]:
# test

fix_activity('swimming')

'swim'

In [431]:
df_age['activity_group'] = df_age['activity'].apply(fix_activity)
df_age['activity_group']

0        snork
1         fish
3         swim
4         surf
5         surf
         ...
6516      swim
6527      fish
6538      swim
6549    outros
6574      swim
Name: activity_group, Length: 3671, dtype: object

In [432]:
pd.options.display.max_rows = 400

In [433]:
df_age['activity_group'].value_counts()

surf      1033
swim       724
fish       531
outros     472
div        325
board      166
NaN        148
snork       88
bath        69
float       37
kayak       24
play        20
walk        18
boat        13
yacht        3
Name: activity_group, dtype: int64

In [434]:
df_grouped_2 = df_age.groupby(['fatal','age_group','century','sex','activity_group']).agg(count_cases = ('date','count')).reset_index()
#df_grouped.loc[:,['fatal','age_group','century','sex']]

df_grouped_2

     fatal age_group  century  sex activity_group  count_cases
0     2017      kids     18.0    F            NaN            0
1     2017      kids     18.0    F           bath            0
2     2017      kids     18.0    F          board            0
3     2017      kids     18.0    F           boat            0
4     2017      kids     18.0    F            div            0
...    ...       ...      ...  ...            ...          ...
4495   nan     older     21.0  NaN          snork            0
4496   nan     older     21.0  NaN           surf            0
4497   nan     older     21.0  NaN           swim            1
4498   nan     older     21.0  NaN           walk            0
4499   nan     older     21.0  NaN          yacht            0

[4500 rows x 6 columns]

#### Century 18

In [441]:
df_18_2 = df_grouped_2.query('century == "18"')

In [442]:
df_18_2.query('sex == "M" and count_cases > 0')

     fatal    age_group  century sex activity_group  count_cases
927      N         kids     18.0   M           swim            1
1107     N     teenager     18.0   M           swim            2
1279     N  young_adult     18.0   M            div            1
1280     N  young_adult     18.0   M           fish            2
1287     N  young_adult     18.0   M           swim            1
1459     N        adult     18.0   M            div            1
2903     Y     teenager     18.0   M         outros            1
2907     Y     teenager     18.0   M           swim            2
3087     Y  young_adult     18.0   M           swim            1
3260     Y        adult     18.0   M           fish            1

In [443]:
df_18_2.query('sex == "F" and count_cases > 0')

     fatal    age_group  century sex activity_group  count_cases
1080     N     teenager     18.0   F            NaN            1
1268     N  young_adult     18.0   F         outros            1

#### Century 19

In [447]:
df_grouped_2.query('century == "19" and sex == "M" and count_cases > 0').sort_values(by = 'activity_group')

     fatal    age_group  century sex activity_group  count_cases
3120     Y  young_adult     19.0   M            NaN            1
1140     N     teenager     19.0   M            NaN            1
1320     N  young_adult     19.0   M            NaN            2
2941     Y     teenager     19.0   M           bath            2
4021   nan  young_adult     19.0   M           bath            1
2761     Y         kids     19.0   M           bath            4
3301     Y        adult     19.0   M           bath            1
1501     N        adult     19.0   M           bath            4
3121     Y  young_adult     19.0   M           bath            4
961      N         kids     19.0   M           bath            1
1321     N  young_adult     19.0   M           bath            2
1141     N     teenager     19.0   M           bath            3
3122     Y  young_adult     19.0   M          board            2
2942     Y     teenager     19.0   M          board            1
1322     N  young_adult     19.0   M          board            1
3302     Y        adult     19.0   M          board            1
1325     N  young_adult     19.0   M           fish            1
3305     Y        adult     19.0   M           fish            2
1145     N     teenager     19.0   M           fish            2
3126     Y  young_adult     19.0   M          float            1
966      N         kids     19.0   M          float            1
3308     Y        adult     19.0   M         outros            1
3128     Y  young_adult     19.0   M         outros            3
2768     Y         kids     19.0   M         outros            1
1508     N        adult     19.0   M         outros            1
1148     N     teenager     19.0   M         outros            1
2771     Y         kids     19.0   M           surf            1
2772     Y         kids     19.0   M           swim            2
2052   NaN     teenager     19.0   M           swim            1
3132     Y  young_adult     19.0   M           swim           11
1332     N  young_adult     19.0   M           swim            2
1152     N     teenager     19.0   M           swim            5
2952     Y     teenager     19.0   M           swim            4
4032   nan  young_adult     19.0   M           swim            1

In [448]:
df_grouped_2.query('century == "19" and sex == "F" and count_cases > 0').sort_values(by = 'activity_group')

     fatal age_group  century sex activity_group  count_cases
3645   nan      kids     19.0   F            NaN            1
1126     N  teenager     19.0   F           bath            1
1666     N     older     19.0   F           bath            1
3826   nan  teenager     19.0   F           bath            1

#### Century 20

In [449]:
df_grouped_2.query('century == "20" and sex == "M" and count_cases > 0').sort_values(by = 'activity_group')

     fatal    age_group  century sex activity_group  count_cases
1005     N         kids     20.0   M            NaN            6
4245   nan        adult     20.0   M            NaN            2
4065   nan  young_adult     20.0   M            NaN            3
3885   nan     teenager     20.0   M            NaN            4
3705   nan         kids     20.0   M            NaN            3
3525     Y        older     20.0   M            NaN            2
3345     Y        adult     20.0   M            NaN            3
3165     Y  young_adult     20.0   M            NaN           10
2085   NaN     teenager     20.0   M            NaN            2
1725     N        older     20.0   M            NaN            2
1545     N        adult     20.0   M            NaN            3
1365     N  young_adult     20.0   M            NaN           18
2985     Y     teenager     20.0   M            NaN            3
1185     N     teenager     20.0   M            NaN           11
4066   nan  young_adult     20.0   M           bath            1
3346     Y        adult     20.0   M           bath            3
3166     Y  young_adult     20.0   M           bath            7
1186     N     teenager     20.0   M           bath            6
3886   nan     teenager     20.0   M           bath            1
2986     Y     teenager     20.0   M           bath            3
1006     N         kids     20.0   M           bath            1
1366     N  young_adult     20.0   M           bath            4
1546     N        adult     20.0   M           bath            1
3526     Y        older     20.0   M           bath            1
4246   nan        adult     20.0   M           bath            1
2806     Y         kids     20.0   M           bath            1
1187     N     teenager     20.0   M          board           10
3887   nan     teenager     20.0   M          board            1
3707   nan         kids     20.0   M          board            1
1367     N  young_adult     20.0   M          board           11
4067   nan  young_adult     20.0   M          board            1
4247   nan        adult     20.0   M          board            1
2987     Y     teenager     20.0   M          board            1
1007     N         kids     20.0   M          board            3
3167     Y  young_adult     20.0   M          board            3
3347     Y        adult     20.0   M          board            1
2807     Y         kids     20.0   M          board            1
1547     N        adult     20.0   M          board            7
3528     Y        older     20.0   M           boat            1
3168     Y  young_adult     20.0   M           boat            1
2988     Y     teenager     20.0   M           boat            1
4068   nan  young_adult     20.0   M           boat            1
1728     N        older     20.0   M           boat            1
1368     N  young_adult     20.0   M           boat            1
1548     N        adult     20.0   M           boat            2
3529     Y        older     20.0   M            div            1
2989     Y     teenager     20.0   M            div           11
1369     N  young_adult     20.0   M            div           78
3169     Y  young_adult     20.0   M            div           26
4429   nan        older     20.0   M            div            1
1009     N         kids     20.0   M            div            1
3349     Y        adult     20.0   M            div           14
2809     Y         kids     20.0   M            div            1
1729     N        older     20.0   M            div            3
4249   nan        adult     20.0   M            div            9
4069   nan  young_adult     20.0   M            div           10
1189     N     teenager     20.0   M            div           17
1549     N        adult     20.0   M            div           41
4250   nan        adult     20.0   M           fish            5
2810     Y         kids     20.0   M           fish            3
3350     Y        adult     20.0   M           fish           14
1190     N     teenager     20.0   M           fish           15
1010     N         kids     20.0   M           fish            7
3170     Y  young_adult     20.0   M           fish           22
1730     N        older     20.0   M           fish           12
4070   nan  young_adult     20.0   M           fish           13
1550     N        adult     20.0   M           fish           63
1370     N  young_adult     20.0   M           fish          129
2990     Y     teenager     20.0   M           fish           10
1191     N     teenager     20.0   M          float            3
3171     Y  young_adult     20.0   M          float            2
3351     Y        adult     20.0   M          float            1
1551     N        adult     20.0   M          float            1
4251   nan        adult     20.0   M          float            1
1011     N         kids     20.0   M          float            1
1371     N  young_adult     20.0   M          float            8
2991     Y     teenager     20.0   M          float            1
1552     N        adult     20.0   M          kayak            4
4072   nan  young_adult     20.0   M          kayak            2
4253   nan        adult     20.0   M         outros            3
3353     Y        adult     20.0   M         outros            9
3533     Y        older     20.0   M         outros            3
4073   nan  young_adult     20.0   M         outros            5
3713   nan         kids     20.0   M         outros            3
3893   nan     teenager     20.0   M         outros            1
1013     N         kids     20.0   M         outros           14
2993     Y     teenager     20.0   M         outros           10
1553     N        adult     20.0   M         outros           34
1733     N        older     20.0   M         outros            2
2273   NaN  young_adult     20.0   M         outros            1
2813     Y         kids     20.0   M         outros            6
4433   nan        older     20.0   M         outros            1
1373     N  young_adult     20.0   M         outros           82
1193     N     teenager     20.0   M         outros           30
3173     Y  young_adult     20.0   M         outros           23
1014     N         kids     20.0   M           play            1
1194     N     teenager     20.0   M           play            1
3355     Y        adult     20.0   M          snork            1
1375     N  young_adult     20.0   M          snork            3
1195     N     teenager     20.0   M          snork            2
1555     N        adult     20.0   M          snork            3
1376     N  young_adult     20.0   M           surf          188
3896   nan     teenager     20.0   M           surf            2
4076   nan  young_adult     20.0   M           surf            5
1736     N        older     20.0   M           surf            1
1556     N        adult     20.0   M           surf           35
3176     Y  young_adult     20.0   M           surf           22
2096   NaN     teenager     20.0   M           surf            1
2276   NaN  young_adult     20.0   M           surf            2
3356     Y        adult     20.0   M           surf            2
2996     Y     teenager     20.0   M           surf           10
1016     N         kids     20.0   M           surf           12
1196     N     teenager     20.0   M           surf          103
1197     N     teenager     20.0   M           swim           42
4077   nan  young_adult     20.0   M           swim            8
4257   nan        adult     20.0   M           swim            6
1377     N  young_adult     20.0   M           swim           80
4437   nan        older     20.0   M           swim            1
1557     N        adult     20.0   M           swim           30
3897   nan     teenager     20.0   M           swim            4
3177     Y  young_adult     20.0   M           swim           68
1017     N         kids     20.0   M           swim           30
3717   nan         kids     20.0   M           swim            1
1737     N        older     20.0   M           swim            3
3537     Y        older     20.0   M           swim            3
2817     Y         kids     20.0   M           swim            9
3357     Y        adult     20.0   M           swim           22
2997     Y     teenager     20.0   M           swim           32
1198     N     teenager     20.0   M           walk            2
1018     N         kids     20.0   M           walk            1
1558     N        adult     20.0   M           walk            3
1379     N  young_adult     20.0   M          yacht            1
3539     Y        older     20.0   M          yacht            1
2819     Y         kids     20.0   M          yacht            1

In [451]:
df_grouped_2.query('century == "20" and sex == "F" and count_cases > 0').sort_values(by = 'activity_group')

     fatal    age_group  century sex activity_group  count_cases
990      N         kids     20.0   F            NaN            1
2970     Y     teenager     20.0   F            NaN            1
3150     Y  young_adult     20.0   F            NaN            1
1530     N        adult     20.0   F            NaN            1
4230   nan        adult     20.0   F            NaN            1
1350     N  young_adult     20.0   F            NaN            1
4050   nan  young_adult     20.0   F            NaN            4
3331     Y        adult     20.0   F           bath            1
2791     Y         kids     20.0   F           bath            1
1351     N  young_adult     20.0   F           bath            2
3511     Y        older     20.0   F           bath            1
991      N         kids     20.0   F           bath            3
1171     N     teenager     20.0   F           bath            1
1172     N     teenager     20.0   F          board            3
4052   nan  young_adult     20.0   F          board            1
4232   nan        adult     20.0   F          board            1
4053   nan  young_adult     20.0   F           boat            1
1534     N        adult     20.0   F            div            1
3154     Y  young_adult     20.0   F            div            2
2794     Y         kids     20.0   F            div            2
1354     N  young_adult     20.0   F            div            1
3334     Y        adult     20.0   F            div            5
1535     N        adult     20.0   F           fish            2
1355     N  young_adult     20.0   F           fish            6
4235   nan        adult     20.0   F           fish            2
1356     N  young_adult     20.0   F          float            3
3156     Y  young_adult     20.0   F          float            1
996      N         kids     20.0   F          float            1
1537     N        adult     20.0   F          kayak            1
3157     Y  young_adult     20.0   F          kayak            1
4058   nan  young_adult     20.0   F         outros            1
3338     Y        adult     20.0   F         outros            1
3158     Y  young_adult     20.0   F         outros            4
2978     Y     teenager     20.0   F         outros            2
3518     Y        older     20.0   F         outros            1
4418   nan        older     20.0   F         outros            1
1538     N        adult     20.0   F         outros            7
1358     N  young_adult     20.0   F         outros           13
998      N         kids     20.0   F         outros            9
1718     N        older     20.0   F         outros            2
1178     N     teenager     20.0   F         outros            7
999      N         kids     20.0   F           play            4
1179     N     teenager     20.0   F           play            1
1720     N        older     20.0   F          snork            1
1540     N        adult     20.0   F          snork            2
3340     Y        adult     20.0   F          snork            1
1360     N  young_adult     20.0   F          snork            1
1181     N     teenager     20.0   F           surf            3
1541     N        adult     20.0   F           surf            4
2981     Y     teenager     20.0   F           surf            1
1361     N  young_adult     20.0   F           surf            5
1002     N         kids     20.0   F           swim            4
4062   nan  young_adult     20.0   F           swim            2
1722     N        older     20.0   F           swim            1
3342     Y        adult     20.0   F           swim            2
3522     Y        older     20.0   F           swim            2
1182     N     teenager     20.0   F           swim           15
2802     Y         kids     20.0   F           swim            1
1362     N  young_adult     20.0   F           swim           15
3162     Y  young_adult     20.0   F           swim           10
1542     N        adult     20.0   F           swim            3
2982     Y     teenager     20.0   F           swim            5
2082   NaN     teenager     20.0   F           swim            1
4063   nan  young_adult     20.0   F           walk            1
3883   nan     teenager     20.0   F           walk            1

#### Century 21

In [453]:
df_grouped_2.query('century == "21" and sex == "M" and count_cases > 0').sort_values(by = 'activity_group')

     fatal    age_group  century sex activity_group  count_cases
4470   nan        older     21.0   M            NaN            1
4290   nan        adult     21.0   M            NaN            1
1410     N  young_adult     21.0   M            NaN            8
1230     N     teenager     21.0   M            NaN            1
3030     Y     teenager     21.0   M            NaN            1
3210     Y  young_adult     21.0   M            NaN            1
3930   nan     teenager     21.0   M            NaN            2
3390     Y        adult     21.0   M            NaN            3
4110   nan  young_adult     21.0   M            NaN            3
1590     N        adult     21.0   M            NaN            3
1050     N         kids     21.0   M            NaN            7
3750   nan         kids     21.0   M            NaN            3
1411     N  young_adult     21.0   M           bath            1
3211     Y  young_adult     21.0   M           bath            1
1772     N        older     21.0   M          board            3
1412     N  young_adult     21.0   M          board           20
1592     N        adult     21.0   M          board           11
3032     Y     teenager     21.0   M          board            2
3932   nan     teenager     21.0   M          board            1
3212     Y  young_adult     21.0   M          board           11
1232     N     teenager     21.0   M          board           15
1052     N         kids     21.0   M          board           12
3392     Y        adult     21.0   M          board            3
1413     N  young_adult     21.0   M           boat            1
3393     Y        adult     21.0   M           boat            1
1594     N        adult     21.0   M            div           27
4294   nan        adult     21.0   M            div            5
3214     Y  young_adult     21.0   M            div            8
1234     N     teenager     21.0   M            div            1
1414     N  young_adult     21.0   M            div           21
3394     Y        adult     21.0   M            div            8
1774     N        older     21.0   M            div            7
4474   nan        older     21.0   M            div            2
3574     Y        older     21.0   M            div            1
4114   nan  young_adult     21.0   M            div            4
3575     Y        older     21.0   M           fish            2
2315   NaN  young_adult     21.0   M           fish            1
3215     Y  young_adult     21.0   M           fish            2
3035     Y     teenager     21.0   M           fish            2
1775     N        older     21.0   M           fish           13
3395     Y        adult     21.0   M           fish           11
4295   nan        adult     21.0   M           fish            6
1055     N         kids     21.0   M           fish            4
1595     N        adult     21.0   M           fish           65
1415     N  young_adult     21.0   M           fish           65
4475   nan        older     21.0   M           fish            1
1235     N     teenager     21.0   M           fish           14
1596     N        adult     21.0   M          float            1
1416     N  young_adult     21.0   M          float            3
1776     N        older     21.0   M          float            1
1236     N     teenager     21.0   M          float            1
1597     N        adult     21.0   M          kayak            4
1237     N     teenager     21.0   M          kayak            1
1777     N        older     21.0   M          kayak            1
1417     N  young_adult     21.0   M          kayak            5
3577     Y        older     21.0   M          kayak            1
1238     N     teenager     21.0   M         outros           22
3398     Y        adult     21.0   M         outros            1
1058     N         kids     21.0   M         outros           25
3218     Y  young_adult     21.0   M         outros            1
1598     N        adult     21.0   M         outros           22
4298   nan        adult     21.0   M         outros            2
4478   nan        older     21.0   M         outros            2
3578     Y        older     21.0   M         outros            1
1778     N        older     21.0   M         outros            7
1418     N  young_adult     21.0   M         outros           18
4118   nan  young_adult     21.0   M         outros            1
3938   nan     teenager     21.0   M         outros            3
878   2017        older     21.0   M         outros            1
1419     N  young_adult     21.0   M           play            2
1059     N         kids     21.0   M           play            7
1239     N     teenager     21.0   M           play            2
3580     Y        older     21.0   M          snork            1
4300   nan        adult     21.0   M          snork            1
3400     Y        adult     21.0   M          snork            5
4480   nan        older     21.0   M          snork            1
1060     N         kids     21.0   M          snork            1
3220     Y  young_adult     21.0   M          snork            2
1600     N        adult     21.0   M          snork           12
1780     N        older     21.0   M          snork            3
1240     N     teenager     21.0   M          snork            2
1420     N  young_adult     21.0   M          snork           10
3221     Y  young_adult     21.0   M           surf           16
1421     N  young_adult     21.0   M           surf          224
1241     N     teenager     21.0   M           surf           71
3941   nan     teenager     21.0   M           surf            1
1601     N        adult     21.0   M           surf          159
4121   nan  young_adult     21.0   M           surf            8
3581     Y        older     21.0   M           surf            2
1781     N        older     21.0   M           surf           18
3041     Y     teenager     21.0   M           surf            5
1061     N         kids     21.0   M           surf           14
3401     Y        adult     21.0   M           surf            7
4301   nan        adult     21.0   M           surf            9
1062     N         kids     21.0   M           swim           22
1242     N     teenager     21.0   M           swim           19
4302   nan        adult     21.0   M           swim            9
3942   nan     teenager     21.0   M           swim            3
1422     N  young_adult     21.0   M           swim           37
3222     Y  young_adult     21.0   M           swim           14
1602     N        adult     21.0   M           swim           33
3762   nan         kids     21.0   M           swim            4
3582     Y        older     21.0   M           swim            6
3042     Y     teenager     21.0   M           swim            3
3402     Y        adult     21.0   M           swim            7
4122   nan  young_adult     21.0   M           swim            7
1782     N        older     21.0   M           swim           17
1243     N     teenager     21.0   M           walk            1
1063     N         kids     21.0   M           walk            2
1603     N        adult     21.0   M           walk            1

In [454]:
df_grouped_2.query('century == "21" and sex == "F" and count_cases > 0').sort_values(by = 'activity_group')

     fatal    age_group  century sex activity_group  count_cases
1035     N         kids     21.0   F            NaN            3
1575     N        adult     21.0   F            NaN            2
3735   nan         kids     21.0   F            NaN            1
1395     N  young_adult     21.0   F            NaN            1
1215     N     teenager     21.0   F            NaN            1
1576     N        adult     21.0   F           bath            1
1577     N        adult     21.0   F          board            3
1217     N     teenager     21.0   F          board            8
1397     N  young_adult     21.0   F          board            4
1037     N         kids     21.0   F          board           13
1218     N     teenager     21.0   F           boat            1
4279   nan        adult     21.0   F            div            1
1579     N        adult     21.0   F            div            2
1399     N  young_adult     21.0   F            div            2
1759     N        older     21.0   F            div            1
3379     Y        adult     21.0   F            div            1
3559     Y        older     21.0   F            div            1
1400     N  young_adult     21.0   F           fish            3
3380     Y        adult     21.0   F           fish            1
1580     N        adult     21.0   F           fish            7
1220     N     teenager     21.0   F           fish            1
1761     N        older     21.0   F          float            1
1401     N  young_adult     21.0   F          float            2
1041     N         kids     21.0   F          float            1
4281   nan        adult     21.0   F          float            1
1582     N        adult     21.0   F          kayak            1
1762     N        older     21.0   F          kayak            1
1043     N         kids     21.0   F         outros           16
1583     N        adult     21.0   F         outros           12
1403     N  young_adult     21.0   F         outros           11
1763     N        older     21.0   F         outros            9
1223     N     teenager     21.0   F         outros           13
3743   nan         kids     21.0   F         outros            1
1044     N         kids     21.0   F           play            1
1765     N        older     21.0   F          snork            8
1405     N  young_adult     21.0   F          snork            7
4285   nan        adult     21.0   F          snork            1
1585     N        adult     21.0   F          snork            7
3565     Y        older     21.0   F          snork            2
3205     Y  young_adult     21.0   F          snork            2
1045     N         kids     21.0   F          snork            2
3385     Y        adult     21.0   F          snork            1
3025     Y     teenager     21.0   F          snork            1
3746   nan         kids     21.0   F           surf            2
4106   nan  young_adult     21.0   F           surf            4
1586     N        adult     21.0   F           surf           12
1046     N         kids     21.0   F           surf            3
1766     N        older     21.0   F           surf            1
1226     N     teenager     21.0   F           surf           14
1406     N  young_adult     21.0   F           surf           10
3026     Y     teenager     21.0   F           surf            1
3027     Y     teenager     21.0   F           swim            1
1047     N         kids     21.0   F           swim            5
4107   nan  young_adult     21.0   F           swim            1
3747   nan         kids     21.0   F           swim            6
1227     N     teenager     21.0   F           swim           13
4287   nan        adult     21.0   F           swim            2
1407     N  young_adult     21.0   F           swim           14
1587     N        adult     21.0   F           swim           19
3387     Y        adult     21.0   F           swim            1
1767     N        older     21.0   F           swim            7
3207     Y  young_adult     21.0   F           swim            5
2847     Y         kids     21.0   F           swim            1
3567     Y        older     21.0   F           swim            3
1588     N        adult     21.0   F           walk            2
1048     N         kids     21.0   F           walk            2
3568     Y        older     21.0   F           walk            1

## Most of the cases were **unprovoked** (TYPE COLUMN)

In [461]:
df

,date,year,type,country,area,sex,age,species,activity,fatal
0,20-Sep-2020,2020,Unprovoked,USA,Florida,M,30,Bull shark,Snorkeling,N
1,17-Sep-2020,2020,Provoked,AUSTRALIA,Queensland,M,50s,"""whitetip shark""",Fishing,N
2,16-Sep-2020,2020,Unprovoked,AUSTRALIA,New South Wales,M,NaN,White shark,Foil-boarding,N
3,16-Sep-2020,2020,NaN,USA,Florida,M,48,Shark involvement not confirmed,Swimming,N
4,15-Sep-2020,2020,Unprovoked,USA,Florida,M,15,NaN,Surfing,N
...,...,...,...,...,...,...,...,...,...,...
6570,Before 1903,1800,Unprovoked,AUSTRALIA,Western Australia,M,NaN,NaN,Diving,Y
6571,Before 1903,1800,Unprovoked,AUSTRALIA,Western Australia,M,NaN,NaN,Pearl diving,Y
6572,1900-1905,1800,Unprovoked,USA,North Carolina,M,NaN,NaN,Swimming,Y
6573,1883-1889,1800,Unprovoked,PANAMA,NaN,M,NaN,NaN,NaN,Y
6574,1845-1853,1800,Unprovoked,CEYLON (SRI LANKA),Eastern Province,M,15,NaN,Swimming,Y

In [460]:
df['type'].value_counts()

Unprovoked             4804
Provoked                601
Invalid                 551
Watercraft              346
Sea Disaster            240
Questionable             12
Boat                      7
Unconfirmed               1
Under investigation       1
Unverified                1
Name: type, dtype: int64

In [465]:
df_type_F = df.query('sex == "F" and fatal == "Y"').sort_values(by = 'type')
df_type_F

,date,year,type,country,area,sex,age,species,activity,fatal
6046,Reported 08-Dec-1884,1884,Provoked,FRANCE,Côte d'Azur,F,NaN,10' shark,NaN,Y
4309,Dec-1959,1959,Sea Disaster,MALDIVE ISLANDS,400 miles southeast of Sri Lanka,F,3,NaN,17 Maldivians adrift in open boat for 31 days,Y
5636,Reported 30-Nov-1912,1912,Sea Disaster,PHILIPPINES,NaN,F,19,NaN,Swimming from foundered vessel,Y
3477,30-Jul-1975,1975,Sea Disaster,USA,Oregon,F,62,NaN,Sea disaster,Y
3335,15-Mar-1980,1980,Sea Disaster,PHILIPPINES,NaN,F,NaN,NaN,Sinking of the ferryboat Bongbong 1,Y
5694,06-Mar-1909,1909,Sea Disaster,SOUTH AFRICA,South Atlantic Ocean,F,NaN,NaN,Wreck of the 1308-ton Norwegian ship Auckland,Y
3188,26-Jul-1983,1983,Sea Disaster,AUSTRALIA,Queensland,F,21,"Tiger shark, 5 m [16.5']",Swimming from the New Venture,Y
5708,13-May-1908,1908,Sea Disaster,INDONESIA,Java,F,NaN,NaN,native boats sunk in storm,Y
26,27-Jul-2020,2020,Unprovoked,USA,Maine,F,63,"White shark, 11'?",Swimming,Y
5173,01-Jul-1935,1935,Unprovoked,CROATIA,Adriatic Sea,F,22,NaN,Swimming,Y
5047,1940,1940,Unprovoked,NEW GUINEA,Bwagaoia,F,NaN,NaN,NaN,Y
4988,04-Jan-1942,1942,Unprovoked,AUSTRALIA,New South Wales,F,28,"Bull shark, 4 m [13']",Swimming,Y
4960,26-Dec-1942,1942,Unprovoked,AUSTRALIA,New South Wales,F,15,Bull shark,Dog paddling or standing,Y
4880,05-Jan-1946,1946,Unprovoked,AUSTRALIA,New South Wales,F,14,NaN,Swimming,Y
4811,02-Sep-1948,1948,Unprovoked,IRAN,Bandar Ma’shur sea inlet,F,60,NaN,Bathing or washing,Y
4707,17-Aug-1951,1951,Unprovoked,GREECE,Corfu Island,F,16,White shark,Swimming,Y
4639,31-Jul-1953,1953,Unprovoked,MEXICO,Colima,F,18,NaN,Wading,Y
5199,09-Oct-1934,1934,Unprovoked,AUSTRALIA,Northern Territory,F,38,NaN,Bathing,Y
4626,1954 (same day as 1954.00.00.f),1954,Unprovoked,IRAN,Karun River,F,NaN,Bull shark suspected due to freshwater habitat,NaN,Y
4560,07-Jul-1955,1955,Unprovoked,YEMEN,Aden,F,NaN,2.4 m [8'] shark,Swimming,Y
4552,26-Aug-1955,1955,Unprovoked,CROATIA,Primorje-Gorski Kotar County,F,32,White shark,Swimming,Y
4534,1956,1956,Unprovoked,GREECE,Corfu Island,F,15,White shark,Swimming off yacht,Y
4457,23-Oct-1957,1957,Unprovoked,SOLOMON ISLANDS,Honiara,F,28,NaN,NaN,Y
4430,05-Apr-1958,1958,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,F,28,3 m [10'] shark,Paddling in knee-deep water,Y
4412,Reported 31-Jul-1958,1958,Unprovoked,MEXICO,Guerrero,F,NaN,NaN,Swimming,Y
4331,Sep-1959,1959,Unprovoked,MEXICO,Guerrrero,F,"""middle-age""",NaN,NaN,Y
4299,Ca. 1960,1960,Unprovoked,MOZAMBIQUE,Gaza,F,5,NaN,Swimming,Y
4703,29-Sep-1951,1951,Unprovoked,ITALY,Salerno,F,21,NaN,Swimming,Y
5206,21-Aug-1934,1934,Unprovoked,CROATIA,Adriatic Sea,F,18,White shark,Swimming,Y
5263,16-Apr-1932,1932,Unprovoked,PHILIPPINES,Manila,F,NaN,NaN,Standing,Y
4271,Apr-1960,1960,Unprovoked,FIJI,Vanua Levu,F,NaN,NaN,Fishing in shoulder-deep water,Y
6493,"No date, Before May-1996",1800,Unprovoked,KOREA,South Korea,F,NaN,NaN,Diving,Y
6407,1791,1791,Unprovoked,AUSTRALIA,New South Wales,F,NaN,NaN,NaN,Y
6404,1800,1800,Unprovoked,SEYCHELLES,St. Anne,F,NaN,NaN,a corsair's boat was overturned,Y
6356,Reported 15-Jul-1834,1834,Unprovoked,FRENCH POLYNESIA,Society Islands,F,NaN,Reported to involve a hammerhead shark,Swimming,Y
6306,08-Jun-1849,1849,Unprovoked,USA,Florida,F,NaN,NaN,Bathing,Y
6274,Reported 09-Apr-1855,1855,Unprovoked,AUSTRALIA,South Australia,F,2½,NaN,Fell overboard from the Malacca,Y
6117,10-Jun-1978,1878,Unprovoked,PHILIPPINES,Misamis Oriental,F,NaN,NaN,NaN,Y
6051,14-Jan-1884,1884,Unprovoked,AUSTRALIA,South Australia,F,NaN,Said to involve 2 sharks,Fell overboard,Y
5938,Reported 23-May-1893,1893,Unprovoked,FIJI,NaN,F,NaN,NaN,Canoe swamped,Y
5932,Reported 28-Apr-1894,1894,Unprovoked,BURMA,Rangoon,F,NaN,NaN,Bathing,Y
5259,20-Jun-1932,1932,Unprovoked,FIJI,Yasawa Islands,F,NaN,NaN,Free diving with goggles,Y
5931,Reported 28-Apr-1894,1894,Unprovoked,BURMA,Rangoon,F,NaN,NaN,Bathing,Y
5720,Reported 12-Aug-1907,1907,Unprovoked,CROATIA,Primorje-Gorski Kotar County,F,NaN,NaN,Swimming,Y
5719,11-Sep-1907,1907,Unprovoked,CROATIA,"Split-Dalmatia Count,",F,NaN,NaN,Swimming,Y
5704,Reported 08-Jul-1908,1908,Unprovoked,CROATIA,Adriatic Sea,F,NaN,"Species unknown, possible white shark",Watercraft,Y
5688,Reported 26-Jun-1909,1909,Unprovoked,MEXICO,Guerrero,F,NaN,NaN,Bathing,Y
5498,13-Mar-1922,1922,Unprovoked,JAMAICA,Kingston Parish,F,14,2.7 m [9'] shark later captured by Mitchell-He...,Standing,Y
5493,17-Jun-1922,1922,Unprovoked,USA,Florida,F,18,1.8 m [6'] shark,Floating,Y
5485,14-Dec-1922,1922,Unprovoked,USA,Puerto Rico,F,NaN,NaN,Bathing,Y
5444,25-Nov-1924,1924,Unprovoked,MEXICO,Tamaulipas,F,NaN,1.8 m shark,The Ward liner Esperanza stranded during a gal...,Y
5428,1926,1926,Unprovoked,SINGAPORE,NaN,F,NaN,NaN,Dived onto shark from floating stage,Y
5423,17-Mar-1926,1926,Unprovoked,AUSTRALIA,South Australia,F,NaN,"White shark, 3.7 m [12']",Swimming,Y
5723,Reported 14-Jul-1907,1907,Unprovoked,CROATIA,"Split-Dalmatia Count,",F,NaN,NaN,Swimming,Y
4129,28-Dec-1961,1961,Unprovoked,AUSTRALIA,Queensland,F,18,3 m [10'] shark,Standing,Y
4015,01-Jun-1963,1963,Unprovoked,GREECE,Thessaly,F,42,"White shark, 3 m",Swimming,Y
6496,"No date, Before Aug-1989",1800,Unprovoked,VANUATU,Malampa Province,F,NaN,NaN,NaN,Y
2246,Dec-2000,2000,Unprovoked,NEW ZEALAND,Cook Islands,F,NaN,NaN,Surfing,Y
2009,19-Aug-2003,2003,Unprovoked,USA,California,F,50,4.5 m to 5.5 m [15' to 18'] white shark,"Swimming, wearing black wetsuit & swim fins",Y
1882,15-Nov-2004,2004,Unprovoked,SOUTH AFRICA,Western Cape Province,F,77,6 m [20'] white shark,Swimming,Y
1834,22-Jun-2005,2005,Unprovoked,VANUATU,Malampa Province,F,7,On 8/13/2005 anglers from New Zealand caught a...,Swimming,Y
1833,25-Jun-2005,2005,Unprovoked,USA,Florida,F,14,1.8 m [6'] bull shark,Swimming with boogie board,Y
1771,07-Jan-2006,2006,Unprovoked,AUSTRALIA,Queensland,F,21,Bull shark,Swimming,Y
1763,01-Feb-2006,2006,Unprovoked,TONGA,Vava'u,F,24,Tiger shark,Swimming,Y
1580,30-Sep-2007,2007,Unprovoked,NEW CALEDONIA,Loyalty Islands,F,23,Tiger shark,Swimming,Y
1380,01-Jun-2009,2009,Unprovoked,EGYPT,St. Johns Reef,F,50,"Oceanic whitetip shark, 2.5 to 3m",Snorkeling,Y
1218,05-Dec-2010,2010,Unprovoked,EGYPT,South Sinai Peninsula,F,70,"Oceanic whitetip shark, 2.5m",Snorkeling,Y
2389,18-Mar-1999,1999,Unprovoked,USA,Hawaii,F,29,NaN,"Swimming, towing a kayak",Y
912,15-Jul-2013,2013,Unprovoked,REUNION,Saint-Paul,F,15,NaN,Swimming & snorkeling,Y
897,14-Aug-2013,2013,Unprovoked,USA,Hawaii,F,20,Tiger shark?,Snorkeling,Y
827,03-Apr-2014,2014,Unprovoked,AUSTRALIA,New South Wales,F,63,3 m to 4 m white shark,Swimming,Y
705,14-Feb-2015,2015,Unprovoked,REUNION,d’Étang-Salé,F,22,"Tiger shark, 3.5 m",Swimming,Y
687,29-Apr-2015,2015,Unprovoked,USA,Hawaii,F,65,NaN,Snorkeling,Y
601,17-Oct-2015,2015,Unprovoked,MOZAMBIQUE,Inhambane Province,F,35,NaN,Fishing for shrimp,Y
546,09-Apr-2016,2016,Unprovoked,NEW CALEDONIA,Grand Terre,F,69,"Tiger shark, 2.5 m",Walking,Y
524,05-Jun-2016,2016,Unprovoked,AUSTRALIA,Western Australia,F,60,3+ m shark,Diving,Y
410,17-Apr-2017,2017,Unprovoked,AUSTRALIA,Western Australia,F,17,White shark,Surfing,Y
312,30-Nov-2017,2017,Unprovoked,COSTA RICA,Cocos Island,F,49,"Tiger shark, female",Scuba diving,Y
138,26-Jun-2019,2019,Unprovoked,BAHAMAS,Lucayan Archipelago,F,21,NaN,Snorkeling,Y
909,22-Jul-2013,2013,Unprovoked,BRAZIL,Pernambuco,F,18,NaN,Swimming,Y
2451,26-Apr-1998,1998,Unprovoked,MOZAMBIQUE,Gaza,F,35,3 m [10'] shark,Towing rubber dinghy,Y
2642,13-Jun-1995,1995,Unprovoked,HONG KONG,Clearwater Bay,F,45,Though to involve a tiger shark,Swimming,Y
2648,12-May-1995,1995,Unprovoked,SOUTH KOREA,NaN,F,44,4 m shark,Diving for abalone,Y
3874,16-Oct-1965,1965,Unprovoked,BAHAMAS,New Providence Island,F,NaN,"1.8 m [6'], 180-lb shark",Playing in the water,Y
3862,08-Jan-1966,1966,Unprovoked,NEW ZEALAND,North Island,F,15,NaN,Body surfing,Y
3837,14-Jul-1966,1966,Unprovoked,PAPUA NEW GUINEA,"Admiralty Islands, Manus Province",F,25,NaN,Swimming,Y
3827,23-Aug-1966,1966,Unprovoked,NEW BRITAIN,Duke of York Islands,F,9,A pack of 6 sharks,Diving into water,Y
3826,23-Aug-1966,1966,Unprovoked,NEW BRITAIN,Duke of York Islands,F,13,A pack of 6 sharks,Swimming,Y
3815,19-Oct-1966,1966,Unprovoked,PAPUA NEW GUINEA,New Ireland Province,F,8,3.7 m [12'] shark,Bathing,Y
3814,30-Oct-1966,1966,Unprovoked,PAPUA NEW GUINEA,New Ireland Province,F,13,3.7 m [12'] shark,Swimming,Y
3813,Early Nov-1966,1966,Unprovoked,PAPUA NEW GUINEA,New Ireland Province,F,9 months,3.7 m [12'] shark,A father bathing his smallest daughter when th...,Y
3396,1978,1978,Unprovoked,VANUATU,Malampa Province,F,NaN,NaN,Swimming,Y
3290,23-May-1981,1981,Unprovoked,SOUTH KOREA,Chungnam,F,27,6 m white shark,Shell diving,Y
3281,10-Aug-1981,1981,Unprovoked,USA,Florida,F,19,NaN,"16' catamaran capsized previous night, occupan...",Y
3255,13-Feb-1982,1982,Unprovoked,USA,Florida,F,75,NaN,Swimming,Y
3167,04-Jan-1984,1984,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,F,14,NaN,NaN,Y
3118,03-Mar-1985,1985,Unprovoked,AUSTRALIA,South Australia,F,33,6 m [20'] white shark,Free diving for scallops,Y
2994,27-May-1988,1988,Unprovoked,SOUTH KOREA,NaN,F,38,NaN,Shell diving,Y
2957,26-Jan-1989,1989,Unprovoked,USA,California,F,24,5 m [16.5'] white shark,Kayaking,Y
2892,24-Jun-1990,1990,Unprovoked,SOUTH AFRICA,Western Cape Province,F,21,"4.5 m [14'9""] white shark",Scuba diving (but on surface),Y
2858,07-Jun-1991,1991,Unprovoked,HONG KONG,Port Shelter,F,65,"Tiger shark, >3 m [10']",Swimming,Y
2833,26-Nov-1991,1991,Unprovoked,USA,Hawaii,F,41,"Tiger shark, 2.4 m 3.4 m [8' to 11']",Snorkeling,Y
2757,May 1993,1993,Unprovoked,SOMALIA,Banaadir Region,F,NaN,NaN,Swimming,Y
2756,Late May 1993,1993,Unprovoked,HONG KONG,"On the Kowloon penisula, south of Sai Kung",F,NaN,NaN,NaN,Y
2753,05-Jun-1993,1993,Unprovoked,AUSTRALIA,Tasmania,F,34,5 m [16.5'] white shark,Scuba diving at seal colony,Y
2750,11-Jun-1993,1993,Unprovoked,MEXICO,Quintana Roo,F,42,NaN,Scuba diving,Y
4032,28-Jan-1963,1963,Unprovoked,AUSTRALIA,New South Wales,F,32,Tooth fragments of “whaler” shark were recover...,Wading,Y
6504,"No date, Before 8-May-1965",1800,Unprovoked,GREECE,Island of Volos,F,NaN,NaN,Swimming,Y

In [466]:
df_type_F['type'].value_counts()

Unprovoked      100
Sea Disaster      7
Provoked          1
Name: type, dtype: int64

In [467]:
df_type_M = df.query('sex == "M" and fatal == "Y"').sort_values(by = 'type')
df_type_M

,date,year,type,country,area,sex,age,species,activity,fatal
3348,05-Dec-1979,1979,Invalid,PORTUGAL,Madeira Islands,M,19,White shark?,Spearfishing,Y
1938,13-Apr-2004,2004,Invalid,TONGA,Nuku'alofa,M,NaN,Questionable Incident,Five men on makeshift raft after their 10 m fi...,Y
6500,"No date, Before 1975",1800,Invalid,PAPUA NEW GUINEA,Milne Bay Province,M,NaN,Questionable,Scuba diving,Y
1349,12-Sep-2009,2009,Invalid,USA,North Carolina,M,60,Shark involvement prior to death not confirmed,Swimming,Y
2159,16-Sep-2001,2001,Invalid,USA,Florida,M,42,Questionable incident - shark bite may have pr...,Wreck / Technical diving,Y
...,...,...,...,...,...,...,...,...,...,...
5135,01-Dec-1936,1936,Watercraft,AUSTRALIA,Victoria,M,50,Thought to involve a 12' white shark,Fishing,Y
2335,Reported 28-Jan-2000,2000,Watercraft,REUNION,NaN,M,NaN,NaN,Canoe with 3 men onboard sank,Y
5357,06-Jan-1929,1929,Watercraft,TURKEY,NaN,M,NaN,NaN,Fishing boat,Y
5137,Reported 11-Sep-1936,1936,NaN,VIETNAM,NaN,M,NaN,NaN,Wreck of a sampam,Y
5976,Reported 03-Mar-1890,1890,NaN,CEYLON,NaN,M,NaN,NaN,Diving,Y

In [468]:
df_type_M['type'].value_counts()

Unprovoked      1048
Sea Disaster     109
Provoked          16
Invalid            8
Watercraft         8
Questionable       4
Name: type, dtype: int64

## The **location** with greater number of cases has no legislation or safety measures (COUNTRY AND AREA)

In [480]:
# Country with greater number of cases according the activity

df_country = df.groupby(['country', 'activity']).agg(count_cases = ('date','count')).reset_index()
#df_grouped.loc[:,['fatal','age_group','century','sex']]

df_country.sort_values(by = 'count_cases', ascending = False)

        country                                 activity  count_cases
2049        USA                                  Surfing          612
2072        USA                                 Swimming          323
327   AUSTRALIA                                  Surfing          214
337   AUSTRALIA                                 Swimming          166
1777        USA                                  Fishing          125
...         ...                                      ...          ...
793       INDIA                            Washing a dog            1
792       INDIA         Washed off catamaran in the surf            1
791       INDIA                                   Wading            1
790       INDIA                     The Dwarka foundered            1
2212     YEMEN   Wreck of the steamship Sultan of Bombay            1

[2213 rows x 3 columns]

In [484]:
# Country with greater number of cases

df_country_2 = df.groupby(['country']).agg(count_cases = ('date','count')).reset_index()
#df_grouped.loc[:,['fatal','age_group','century','sex']]

df_country_2.sort_values(by = 'count_cases', ascending = False)

                                   country  count_cases
206                                    USA         2367
14                               AUSTRALIA         1401
173                           SOUTH AFRICA          585
129                            NEW ZEALAND          137
147                       PAPUA NEW GUINEA          135
16                                 BAHAMAS          124
23                                  BRAZIL          114
115                                 MEXICO           95
91                                   ITALY           72
62                                    FIJI           64
151                            PHILIPPINES           61
157                                REUNION           60
127                          NEW CALEDONIA           57
122                             MOZAMBIQUE           46
46                                    CUBA           46
179                                  SPAIN           45
54                                   EGYPT           41
82                                   INDIA           40
45                                 CROATIA           35
94                                   JAPAN           34
146                                 PANAMA           32
170                        SOLOMON ISLANDS           30
64                        FRENCH POLYNESIA           30
86                                    IRAN           29
93                                 JAMAICA           28
80                               HONG KONG           24
70                                  GREECE           24
85                               INDONESIA           23
58                                 ENGLAND           22
43                              COSTA RICA           17
13                          ATLANTIC OCEAN           17
142                          PACIFIC OCEAN           17
22                                 BERMUDA           16
196                                  TONGA           15
209                                VIETNAM           15
180                              SRI LANKA           14
207                                VANUATU           14
63                                  FRANCE           13
110                       MARSHALL ISLANDS           13
30                                  CANADA           12
88                                    IRAQ           12
174                   SOUTH ATLANTIC OCEAN           12
199                                 TURKEY           12
165                                SENEGAL           11
208                              VENEZUELA           11
204                         UNITED KINGDOM           11
193                               THAILAND           10
97                                   KENYA           10
112                              MAURITIUS           10
128                             NEW GUINEA           10
161                                  SAMOA            9
53                                 ECUADOR            9
38                                   CHINA            9
190                                 TAIWAN            9
40                                COLUMBIA            9
166                             SEYCHELLES            8
164                               SCOTLAND            8
90                                  ISRAEL            8
104                             MADAGASCAR            8
167                           SIERRA LEONE            8
176                            SOUTH KOREA            8
32                           CARIBBEAN SEA            8
37                                   CHILE            8
191                               TANZANIA            8
213                                 YEMEN             7
83                            INDIAN OCEAN            7
135                    NORTH PACIFIC OCEAN            7
52                      DOMINICAN REPUBLIC            7
130                              NICARAGUA            6
126                            NEW BRITAIN            6
19                                BARBADOS            6
168                              SINGAPORE            6
103                                  LIBYA            6
98                                KIRIBATI            6
172                                SOMALIA            6
141                                OKINAWA            6
118                     MID ATLANTIC OCEAN            5
108                                  MALTA            5
158                         REUNION ISLAND            5
200                         TURKS & CAICOS            5
15                                  AZORES            5
144                                  PALAU            5
105                               MALAYSIA            5
163                           SAUDI ARABIA            5
149                           PERSIAN GULF            4
28                                   BURMA            4
72                                 GRENADA            4
73                                    GUAM            4
184                                  SUDAN            4
205                                URUGUAY            4
57                             EL SALVADOR            4
132                                NIGERIA            4
133                   NORTH ATLANTIC OCEAN            4
79                                HONDURAS            4
160                                 RUSSIA            4
121                             MONTENEGRO            3
65                                    Fiji            3
117                             MICRONESIA            3
21                                  BELIZE            3
198                                TUNISIA            3
197                      TRINIDAD & TOBAGO            3
111                             MARTINIQUE            3
1                                    TONGA            3
77                                  GUYANA            3
152                               PORTUGAL            3
31                              CAPE VERDE            3
35                                  CEYLON            3
78                                   HAITI            3
75                                  GUINEA            3
5                           AMERICAN SAMOA            3
102                                LIBERIA            3
101                                LEBANON            3
55                                  EGYPT             2
202                   UNITED ARAB EMIRATES            2
212                                  YEMEN            2
81                                 ICELAND            2
9                                  ANTIGUA            2
203             UNITED ARAB EMIRATES (UAE)            2
177                    SOUTH PACIFIC OCEAN            2
139                                 NORWAY            2
44                                   CRETE            2
178                SOUTHWEST PACIFIC OCEAN            2
123                                NAMIBIA            2
89                                 IRELAND            2
210                            WEST INDIES            2
195                                 TOBAGO            2
181  ST HELENA, British overseas territory            2
34                         CENTRAL PACIFIC            2
114                      MEDITERRANEAN SEA            2
96                         JOHNSTON ISLAND            2
33                          CAYMAN ISLANDS            2
143                         PACIFIC OCEAN             2
154                                RED SEA            1
156                               RED SEA?            1
155                 RED SEA / INDIAN OCEAN            1
211                          WESTERN SAMOA            1
153                            PUERTO RICO            1
183                             ST. MARTIN            1
159                                 ROATAN            1
162                            SAN DOMINGO            1
201                                 TUVALU            1
171              SOLOMON ISLANDS / VANUATU            1
194                            THE BALKANS            1
192                             TASMAN SEA            1
189                           Sierra Leone            1
175                        SOUTH CHINA SEA            1
188                             Seychelles            1
187                                  SYRIA            1
186                                 SWEDEN            1
182                            ST. MAARTIN            1
185                                 SUDAN?            1
169                               SLOVENIA            1
0                              PHILIPPINES            1
150                                   PERU            1
60                        FALKLAND ISLANDS            1
56                          EGYPT / ISRAEL            1
51                                DJIBOUTI            1
50                            DIEGO GARCIA            1
49                         Coast of AFRICA            1
48                                  CYPRUS            1
47                                 CURACAO            1
42                            COOK ISLANDS            1
41                                 COMOROS            1
39                                COLOMBIA            1
36                      CEYLON (SRI LANKA)            1
29                Between PORTUGAL & INDIA            1
27                     BRITISH WEST INDIES            1
26                  BRITISH VIRGIN ISLANDS            1
25                      BRITISH NEW GUINEA            1
24                           BRITISH ISLES            1
20                           BAY OF BENGAL            1
18                              BANGLADESH            1
17                                 BAHREIN            1
12                                   ASIA?            1
11                                   ARUBA            1
10                               ARGENTINA            1
8                                   ANGOLA            1
7                          ANDAMAN ISLANDS            1
6               ANDAMAN / NICOBAR ISLANDAS            1
4                                  ALGERIA            1
3                                   AFRICA            1
2                        ADMIRALTY ISLANDS            1
59            EQUATORIAL GUINEA / CAMEROON            1
61          FEDERATED STATES OF MICRONESIA            1
148                               PARAGUAY            1
66                                   GABON            1
145                PALESTINIAN TERRITORIES            1
140                                  OCEAN            1
138               NORTHERN MARIANA ISLANDS            1
137                   NORTHERN ARABIAN SEA            1
136                              NORTH SEA            1
134                  NORTH ATLANTIC OCEAN             1
131                             NICARAGUA             1
125                                  NEVIS            1
124                   NETHERLANDS ANTILLES            1
120                                 MONACO            1
119                       MID-PACIFC OCEAN            1
116                                MEXICO             1
113                                MAYOTTE            1
109                              MARQUESAS            1
106                        MALDIVE ISLANDS            1
100                                 KUWAIT            1
99                                   KOREA            1
95                                    JAVA            1
92                         ITALY / CROATIA            1
87                             IRAN / IRAQ            1
84                           INDIAN OCEAN?            1
76                            GULF OF ADEN            1
74                               GUATEMALA            1
71                               GREENLAND            1
69                            GRAND CAYMAN            1
68                                   GHANA            1
67                                 GEORGIA            1
107                               MALDIVES            1

In [483]:
df_grouped_3 = df_age.groupby(['fatal','age_group','century','sex','activity_group','country']).agg(count_cases = ('date','count')).reset_index()
#df_grouped.loc[:,['fatal','age_group','century','sex']]

df_grouped_3.sort_values(by = 'count_cases', ascending = False)

,fatal,age_group,century,sex,activity_group,country,count_cases
191964,N,young_adult,21.0,M,surf,USA,145
185889,N,young_adult,20.0,M,surf,USA,116
216264,N,adult,21.0,M,surf,USA,77
161589,N,teenager,20.0,M,surf,USA,60
167664,N,teenager,21.0,M,surf,USA,48
...,...,...,...,...,...,...,...
202734,N,adult,19.0,M,bath,RUSSIA,0
202735,N,adult,19.0,M,bath,SAMOA,0
202736,N,adult,19.0,M,bath,SAUDI ARABIA,0
202737,N,adult,19.0,M,bath,SCOTLAND,0
607499,nan,older,21.0,NaN,yacht,YEMEN,0

## Season with more cases is summer (DATE COLUMN AND **NEW COLUMN SEASON**)