# Before your start:
- Comment as much as you can
- Happy learning!

In [4]:
import numpy as np
import pandas as pd

# Challenge - Inside a function
You are already familiar with several built in functions on python as well as libraries. Let's try to figure out how they are made in pure python.

Create a function that returns the count of a list of numbers

In [5]:
# Your code here:
def count_numb(lst):
    return len(lst)

test = [1,2,3,4,5]
print(count_numb(test))

5

Create a function that returns the mean of a list of numbers

In [6]:
# Your code here:
def mean_numb(lst):
    count = []
    for number in lst:
        count.append(number)
    return (sum(count)/len(count))

test = [1,2,3,4]
print(mean_numb(test))

2.5

Create a function that returns the standard deviation of a list of numbers using the previous functions you created.

In [7]:
# Your code here 
def std_numb(lst):
    return np.std(lst)

test = [1,2]
print(std_numb(test))

0.5

Create a function that returns the count, mean and standard deviation of a given list. Document this function using triple quotes, your documentation should have description, parameters, returns and examples.

In [30]:
# Your code here:
def count_mean_std (lst):
    return (count_numb(lst), mean_numb(lst), std_numb(lst))

test = [1,2]
print(count_mean_std(test))

(2, 1.5, 0.5)

# Challenge  - String Cleaning
When working with textual data you will often have to clean it before being able to analyze it. Create a function that receives a string and returns that string in all lower case, without special characters and in alphabetical order.

In [63]:
# Your code here:

def clean(string):
    import re
    x = re.sub('\W','', string)
    word = sorted(x.lower())
    word = ''.join(word)
    return word

test = 'Ald!rey Alenc+ar BALDOVI?'
print(clean(test))

aaaabcddeeilllnorrvy

# Challenge  - Classification
Sometimes datasets provide very good and precise information but not in the way we need to use it. In this challenge, make a function that takes a numeric value (age or income for example) and turns it into a category (could be from Very Low to Very High or rated from 0 to 10).

In [66]:
# Your code here:
def categ (num_value):
    num = sorted(num_value)
    return num
        
test = [8,4,99,5,5,6,6]
print(categ(test))

[4, 5, 5, 6, 6, 8, 99]

# Challenge  - Recursion 
In some cases it is interesting to build a function that calls itself. Use a recursive function that asks for an input from the users age and keeps asking for it until the input is a number between 0 and 150.

In [95]:
# Your code here:
def choose_number():
    
    number = int(input('Enter with your age: '))
    range_number = range(150)
    
    while number not in range_number:
        number = choose_number()
        
    return number

In [96]:
choose_number()

Enter with your age: 500
Choose one of:  range(0, 150)
Enter with your age: 100

100

# Challenge - Global and local variables

Make a function that returns the buzz string in alphabetical order  

Expected output:
````python
'AI Big Data Data Warehouse Machine Learning Pipeline'
````

In [153]:
buzz = "Big Data, Machine Learning, AI, Data Warehouse, Pipeline"

def alphabetical_order(string):
    words = string.split(sep = ',')
    
    lst_nospace = []
    
    for word in words:
        word_nospace = word.strip()
        lst_nospace.append(word_nospace)
        
    lst_nospace.sort()
    
    final_result = ' '.join(lst_nospace)
    
    return final_result
    
alphabetical_order(buzz)

'AI Big Data Data Warehouse Machine Learning Pipeline'

Make a function without return that modifies the buzz string and puts it in alphabetical order

Expected output:
````python
'AI Big Data Data Warehouse Machine Learning Pipeline'
````

In [175]:
buzz = "Big Data, Machine Learning, AI, Data Warehouse, Pipeline"

In [174]:
def alphabetical_order():
    global buzz
    words = buzz.split(',')
    
    lst_nospace = []
    
    for word in words:
        word_nospace = word.strip()
        lst_nospace.append(word_nospace)
        
    lst_nospace.sort()
    
    final_result = ' '.join(lst_nospace)
    
    buzz = final_result


alphabetical_order()
buzz

'AI Big Data Data Warehouse Machine Learning Pipeline'

In [193]:
def my_func(string):
    return ' '.join(sorted(string.split(', ')))

In [194]:

my_func(buzz)

'AI Big Data Data Warehouse Machine Learning Pipeline'

# Bonus Challenge  - Applying Functions to DataFrames

In this challenge, we will look at how to transform cells or entire columns at once.

In [159]:
import pandas as pd

In [160]:
iris_numeric = pd.DataFrame(data =[[5.1,3.5,1.4,0.2], [4.9,3,1.4,0.2],[4.7,3.2,1.3,0.2],[4.6,3.1,1.5,0.2],[5,3.6,1.4,0.2],[5.4,3.9,1.7,0.4],[4.6,3.4,1.4,0.3],[5,3.4,1.5,0.2],[4.4,2.9,1.4,0.2],[4.9,3.1,1.5,0.1]],columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width'])

Let's look at the dataset using the `head` function.

Expected output:

|    |   sepal_length |   sepal_width |   petal_length |   petal_width |
|---:|---------------:|--------------:|---------------:|--------------:|
|  0 |            5.1 |           3.5 |            1.4 |           0.2 |
|  1 |            4.9 |           3   |            1.4 |           0.2 |
|  2 |            4.7 |           3.2 |            1.3 |           0.2 |
|  3 |            4.6 |           3.1 |            1.5 |           0.2 |
|  4 |            5   |           3.6 |            1.4 |           0.2 |

In [162]:
# Your code here:
iris_numeric.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

Let's start off by using built-in functions. Try to use the numpy mean function and describe what happens in the comments of the code.

Expected output:
````python
sepal_length    4.86
sepal_width     3.31
petal_length    1.45
petal_width     0.22
dtype: float64
````

In [196]:
import numpy as np
np.mean(iris_numeric)

sepal_length    4.86
sepal_width     3.31
petal_length    1.45
petal_width     0.22
dtype: float64

Next, we'll use the standard deviation function in numpy (np.std). Describe what happened in the comments.

Expected output:
````python
sepal_length    0.291357
sepal_width     0.307137
petal_length    0.108012
petal_width     0.078881
dtype: float64
````

In [197]:
np.std(iris_numeric)

sepal_length    0.276405
sepal_width     0.291376
petal_length    0.102470
petal_width     0.074833
dtype: float64

The measurements are in centimeters. Let's convert them all to inches. We will write a function that converts centimeters to inches in the cell below. Recall that 1cm = 0.393701in.

In [198]:
def cm_to_in(x):
    # This function takes in a numeric value in centimeters and converts it to inches
    # Input: numeric value
    # Output: float
    
    # Sample Input: 1.0
    # Sample Output: 0.393701
    
    # Your code here:
    inches = x / 2.54
    
    return inches

In [199]:
cm_to_in(1)

0.39370078740157477

Now convert all columns in `iris_numeric` to inches in the cell below. We like to think of functional transformations as immutable. Therefore, save the transformed data in a dataframe called `iris_inch`.

In [206]:
# Your code here:
iris_inch = cm_to_in(iris_numeric)

We have just found that the original measurements were off by a constant. Define the global constant `error` and set it to 2. Write a function that uses the global constant and adds it to each cell in the dataframe. Apply this function to `iris_numeric` and save the result in `iris_constant`.

In [202]:
# Define constant below:
error = 2

def add_constant(x):
    # This function adds a global constant to our input.
    # Input: numeric value
    # Output: numeric value
    
    # Your code here:
    return x + error

In [205]:
iris_constant = add_constant(iris_numeric)

In [210]:
iris_numeric

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2
5           5.4          3.9           1.7          0.4
6           4.6          3.4           1.4          0.3
7           5.0          3.4           1.5          0.2
8           4.4          2.9           1.4          0.2
9           4.9          3.1           1.5          0.1

Read more about applying functions to either rows or columns [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) and write a function that computes the maximum value for each row of `iris_numeric`

In [211]:
# Your code here:

iris_numeric.max(axis=1)

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
5    5.4
6    4.6
7    5.0
8    4.4
9    4.9
dtype: float64

In [212]:
np.max(iris_numeric, axis=1)

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
5    5.4
6    4.6
7    5.0
8    4.4
9    4.9
dtype: float64

Compute the combined lengths for each row and the combined widths for each row using a function. Assign these values to new columns `total_length` and `total_width`.

In [227]:
iris_numeric.shape

(10, 4)

In [230]:
iris_numeric['sepal_length'] + iris_numeric['petal_length']

0    6.5
1    6.3
2    6.0
3    6.1
4    6.4
5    7.1
6    6.0
7    6.5
8    5.8
9    6.4
dtype: float64

In [231]:
x = {'a':2}

In [232]:
x

{'a': 2}

In [234]:
x['b'] = 10

In [235]:
x.update

{'a': 2, 'b': 10}

In [237]:
# Your code here:

def len_widht(dataframe):  
    dataframe['total_length'] = iris_numeric['sepal_length'] + iris_numeric['petal_length']
    dataframe['total_width'] = iris_numeric['sepal_width'] + iris_numeric['petal_width']
    
    return dataframe

len_widht(iris_numeric)

,sepal_length,sepal_width,petal_length,petal_width,total_length,total_width
0,5.1,3.5,1.4,0.2,6.5,3.7
1,4.9,3.0,1.4,0.2,6.3,3.2
2,4.7,3.2,1.3,0.2,6.0,3.4
3,4.6,3.1,1.5,0.2,6.1,3.3
4,5.0,3.6,1.4,0.2,6.4,3.8
5,5.4,3.9,1.7,0.4,7.1,4.3
6,4.6,3.4,1.4,0.3,6.0,3.7
7,5.0,3.4,1.5,0.2,6.5,3.6
8,4.4,2.9,1.4,0.2,5.8,3.1
9,4.9,3.1,1.5,0.1,6.4,3.2