## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [75]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [76]:
# Your code here
sample_list_1 = random.sample(range(0, 101), 80)

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [77]:
# Your code here
set1 = set(sample_list_1)

len(set1)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [78]:
# Your code here
sample_list_2 = []

for i in range(80):
    sample_list_2.append(random.sample(range(0, 101),1)[0])
    
len(sample_list_2)

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [79]:
# Your code here
set2 = set(sample_list_2)

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [80]:
# Your code here
set3= set1 - set2
print(set3)

{0, 15, 19, 21, 25, 26, 28, 31, 33, 35, 39, 40, 43, 46, 51, 52, 56, 57, 58, 60, 62, 64, 65, 66, 70, 72, 73, 75, 76, 79, 80, 82, 85, 86, 88, 93, 98, 99, 100}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [81]:
# Your code here
set4= set2 - set1
set4

{9, 14, 18, 22, 36, 38, 47, 67, 77, 95}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [82]:
# Your code here
set5= set1.intersection(set2)
print(set5)

{2, 3, 4, 5, 7, 8, 10, 11, 12, 13, 16, 17, 23, 24, 27, 29, 30, 32, 34, 37, 41, 42, 45, 48, 49, 50, 53, 55, 59, 61, 63, 71, 78, 83, 89, 90, 91, 92, 94, 96, 97}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [83]:
# Your code here
len(set1) + len(set2) == len(set3) + len(set4) + 2*len(set5)

True

#### Create an empty set called `set6`.

In [84]:
# Your code here
set6= set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [85]:
# Your code here
set6.update(set3,set5)
print(set6)

{0, 2, 3, 4, 5, 7, 8, 10, 11, 12, 13, 15, 16, 17, 19, 21, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 37, 39, 40, 41, 42, 43, 45, 46, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 70, 71, 72, 73, 75, 76, 78, 79, 80, 82, 83, 85, 86, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98, 99, 100}

#### Check if `set1` and `set6` are equal.

In [86]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [87]:
# Your code here --> issubset method: Returns True if all items set 1 are present in set 2, per example.
x = set1.issubset(set2)
y = set1.issubset(set3)
print(f"set1 contains set2: {x}")
print(f"set1 contains set3: {y}")

set1 contains set2: False
set1 contains set3: False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [88]:
# Your code here
set7 = set3.union(set4, set5)
set8 = set1.union(set2)

print(f"Union of set3, set4, and set5: {set7}")
print(f"Union of set 1 and set2: {set8}")

set7 == set8

Union of set3, set4, and set5: {0, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 70, 71, 72, 73, 75, 76, 77, 78, 79, 80, 82, 83, 85, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}
Union of set 1 and set2: {0, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 70, 71, 72, 73, 75, 76, 77, 78, 79, 80, 82, 83, 85, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

True

#### Using the `pop` method, remove the first element from `set1`.

In [89]:
# Your code here --> The pop() method removes a RANDOM item from the set. This method returns the removed item
set9 = set1.pop()
print(set9)

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [103]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]


for i in list_to_remove:
    if i in set1:
        set1.remove(i)

In [ ]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]


for i in list_to_remove:
    set1.discard(i)

In [106]:
set1.intersection(set(list_to_remove))

set()

In [107]:
set1 -= set(list_to_remove)

testing:

In [42]:
my_dict = {'Aldrey':0, 'Andre':{'nota': 0, 'idade':30, 'hobbies':['jogar','bla','ble']}}

In [50]:
my_dict['Andre']['hobbies'].append('bli')

In [52]:
my_dict['Andre']['hobbies']

['jogar', 'bla', 'ble', 'bli']

In [53]:
my_list = ['jogar', 'bla', ' ble', 'bli']

In [55]:
my_list[0] = 'nadar'

In [56]:
my_list

['nadar', 'bla', ' ble', 'bli']

In [59]:
my_dict['Andre']["hobbies"][0] = 'nadar'

In [60]:
my_dict['Andre']['hobbies']

['nadar', 'bla', 'ble', 'bli']